<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <title>{block name="title"}商城{/block}</title>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/index/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index/css/pe-icon-7-stroke.css">

    <!-- Plugins stylesheet -->
    <link rel="stylesheet" href="/static/index/css/plugins.css">
    <!-- Master stylesheet -->
    <link rel="stylesheet" href="/static/index/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="/static/index/css/responsive.css">

    <script src="/static/index/js/modernizr-2.8.3.min.js"></script>
    <script src="/static/index/js/jquery.1.12.4.min.js"></script>

</head>
<body>

{block name="main"}{/block}

<script src="/static/index/js/popper.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>
<script src="/static/index/js/plugins.js"></script>
<script src="/static/index/js/main.js"></script>
<script type="text/javascript" src="/static/index/js/layer/layer.js"></script>
{block name="my-js"}{/block}
</body>
</html>