<footer id="colophon">

    <!-- Footer Widgets Area -->
    <!--<div class="footer-widgets-area">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <aside class="widget-container">
                            <h4 class="widgettitle">信息</h4>
                            <div class="widget-content">
                                <div class="widgetized-menu">
                                    <ul class="list-inline">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Gift Certificates</a></li>
                                    </ul>
                                </div>
                            </div> &lt;!&ndash; end of widget-content &ndash;&gt;
                        </aside> &lt;!&ndash; end of widget-container &ndash;&gt;
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Footer Copyright -->
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <p class="copyright-text">Copyright © 2017.蜀ICP备05001424号</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="footer-payment">
                        <ul>
                            <li><a href="javascript:;">联系客服&nbsp;&nbsp;<img src="/static/index/images/icons/wechat.png" alt="" title="点击联系客服"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="wechat" style="width: 10rem;display: none;">
    <img src="/static/index/images/wechat.jpg" alt="" title="点击联系客服" style="width: 100%;margin-left: 40%">
</div>
<script>
    $(function () {
        $('.footer-payment').click(function () {
            layer.open({
                type: 1,
                title:'扫一扫，添加客服微信',
                content: $('.wechat')
            });
        });
    });
</script>