<header class="shop-header">
    <div class="top">
        <div class="container">
            <ul class="pull-left hidden-xs">
                <li>
                    <a href="">金丰年</a>
                    <!--<img class="show-tu" src="/static/index/img/erweima.png">-->
                </li>
            </ul>
            <ul class="pull-right">
                <li><a href="login.html">登陆</a></li>
                <li><a href="login.html">注册</a></li>
                <li><a href="">我的订单</a></li>
            </ul>
        </div>

    </div>
    <div class="menu-box container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img src="/static/index/img/logo_jfn.png" class="img-responsive" alt=""/></a>
        </div>
        <div class="menu">
            <ul class="nav-list">
                <li><a href="shoping_index.html"><i class="iconfont icon-shouye"></i> 首页</a></li>
                <li class="shop-cart dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="iconfont icon-gouwuche"></i> 购物车
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <img width="100%" class="col-sm-4 col-xs-4" src="/static/index/img/tu-p.jpg">
                                <div class="col-sm-8 col-xs-8">
                                    <h4>产品名
                                        <small class="pull-right">×1</small>
                                    </h4>
                                    <p>规格：s <span class="red pull-right">￥200</span></p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img width="100%" class="col-sm-4 col-xs-4" src="/static/index/img/tu-p.jpg">
                                <div class="col-sm-8 col-xs-8">
                                    <h4>产品名
                                        <small class="pull-right">×1</small>
                                    </h4>
                                    <p>规格：s <span class="red pull-right">￥200</span></p>
                                </div>
                            </a>
                        </li>
                        <li class="last-a">
                            <p class="text-right"><span>共1件商品</span><span>共计：<strong class="red">¥969</strong></span>
                            </p>
                            <div class="overflow">
                                <a class="btn btn-success pull-left" href="shoping_cart.html">查看购物车</a>
                                <a class="btn btn-warning pull-right" href="">去结算</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="news.html"><i class="iconfont icon-geren"></i> 个人中心</a></li>
            </ul>
        </div>
    </div>
</header>