{extend name="base/base" /}

{block name="title"}排行榜{/block}

{block name="main"}
<div id="wrap">
    <div id="tit">
        <span class="select">日榜</span>
        <span>周榜</span>
        <span>月榜</span>
    </div>
    <div id="login">
        <div class="login show">
            <div class="ph-sh">
            {volist name="dayRank" id="vo"}
                {if $i <= 3}
                    <div class="ph-sh1">
                        {if empty($vo.photo)}
                            <img src="/static/index/images/touxiang.png">
                        {else/}
                            <img src="{$vo.photo}">
                        {/if}
                        <p>{$vo.name}</p>
                        <p>已升级<span>{$vo.goods_num}</span>单</p>
                        <div class="ph-dy">
                            <img src="/static/index/images/p1.png">
                        </div>
                    </div>
                {/if}
            {/volist}
            </div>
            <div class="biao">
                <ul>
                    {volist name="dayRank" id="vo"}
                        {if $i > 3}
                            <li>
                                {if empty($vo.photo)}
                                    <img src="/static/index/images/touxiang.png">
                                {else/}
                                    <img src="{$vo.photo}">
                                {/if}
                                <p>{$vo.name}</p>
                                <p style="float: right;">已升级<span>{$vo.goods_num}</span>单</p>
                            </li>
                        {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="login">
            <div class="ph-sh">
                {volist name="weekRank" id="vo"}
                    {if $i <= 3}
                    <div class="ph-sh1">
                        {if empty($vo.photo)}
                            <img src="/static/index/images/touxiang.png">
                        {else/}
                            <img src="{$vo.photo}">
                        {/if}
                        <p>{$vo.name}</p>
                        <p>已升级<span>{$vo.goods_num}</span>单</p>
                        <div class="ph-dy">
                            <img src="/static/index/images/p1.png">
                        </div>
                    </div>
                    {/if}
                {/volist}
            </div>
            <div class="biao">
                <ul>
                    {volist name="weekRank" id="vo"}
                        {if $i > 3}
                            <li>
                                {if empty($vo.photo)}
                                    <img src="/static/index/images/touxiang.png">
                                {else/}
                                    <img src="{$vo.photo}">
                                {/if}
                                <p>{$vo.name}</p>
                                <p style="float: right;">已升级<span>{$vo.goods_num}</span>单</p>
                            </li>
                        {/if}
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="login">
            <div class="ph-sh">
                {volist name="monthRank" id="vo"}
                    {if $i <= 3}
                    <div class="ph-sh1">
                        {if empty($vo.photo)}
                            <img src="/static/index/images/touxiang.png">
                        {else/}
                            <img src="{$vo.photo}">
                        {/if}
                        <p>{$vo.name}</p>
                        <p>已升级<span>{$vo.goods_num}</span>单</p>
                        <div class="ph-dy">
                            <img src="/static/index/images/p1.png">
                        </div>
                    </div>
                    {/if}
                {/volist}
            </div>
            <div class="biao">
                <ul>
                    {volist name="weekRank" id="vo"}
                        {if $i > 3}
                        <li>
                            {if empty($vo.photo)}
                                <img src="/static/index/images/touxiang.png">
                            {else/}
                                <img src="{$vo.photo}">
                            {/if}
                            <p>{$vo.name}</p>
                            <p style="float: right;">已升级<span>{$vo.goods_num}</span>单</p>
                        </li>
                        {/if}
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="nav"}
{include file="base/nav"}
{/block}

{block name="script"}
<script>
    $(function () {
        $('.daohang ul li:eq(2)').addClass('active').siblings().removeClass('active');

        $('#tit span').click(function() {
            var i = $(this).index();//下标第一种写法
            $(this).addClass('select').siblings().removeClass('select');
            $('.login').eq(i).show().siblings().hide();
        });
    });
</script>
{/block}