{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}
{include file="base/nav"}
{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <!-- Start of Breadcrumbs -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{:url('index/index')}">首页</a>
                        <span class="breadcrumb-item active">商品列表</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <div class="shop-products-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <main id="primary" class="site-main">
                            <div class="shop-wrapper">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="shop-toolbar">
                                            <div class="toolbar-inner">
                                                <div class="product-view-mode">
                                                    <ul role="tablist" class="nav shop-item-filter-list">
                                                        <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="ion-md-list"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="toolbar-amount">
                                                    <span>列表显示</span>
                                                </div>
                                            </div>
                                            <div class="product-select-box">
                                                <div class="product-show">
                                                    <p>显示:</p>
                                                    <select class="nice-select" name="showing" disabled>
                                                        <option value="1">4</option>
                                                    </select>
                                                </div>
                                                <div class="product-sort">
                                                    <p>排序:</p>
                                                    <select class="nice-select" name="sortby" disabled>
                                                        <option value="trending">价格</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end of row -->

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="shop-products-wrapper">
                                            <div class="tab-content">
                                                <div id="list" class="tab-pane fade active show" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12">
                                                            {volist name="goodsInfo" id="vo"}
                                                            <div class="product-layout product-list">
                                                                <div class="product-thumb">
                                                                    <div class="product-inner media align-items-center">
                                                                        <div class="product-image mb-4 mb-md-0 mr-md-4 mr-xl-5">
                                                                            <div class="label-product label-sale">- <i class="fa fa-jpy"></i>&nbsp;{$vo.dprice}</div>
                                                                            <a href="/index/goods/detail/{$vo.id}">
                                                                                <img src="{$vo.pic_url}" title="点击查看详情">
                                                                            </a>
                                                                        </div>

                                                                        <div class="product-caption media-body">
                                                                            <div class="product-ratings">
                                                                                <div class="rating-box">
                                                                                    <ul class="rating d-flex justify-content-md-start">
                                                                                        <li><i class="fa fa-star"></i></li>
                                                                                        <li><i class="fa fa-star"></i></li>
                                                                                        <li><i class="fa fa-star"></i></li>
                                                                                        <li><i class="fa fa-star"></i></li>
                                                                                        <li><i class="fa fa-star"></i></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                            <h4 class="product-name"><a href="/index/goods/detail/{$vo.id}">{$vo.name}</a></h4>
                                                                            <p class="product-price">
                                                                                <span class="price-old"><i class="fa fa-jpy"></i>{$vo.success_price}</span>
                                                                                <span class="price-new"><i class="fa fa-jpy"></i>{$vo.price}</span>
                                                                            </p>
                                                                            <p class="product-des">点击图片或者商品名称立即购买，本商品竞猜
                                                                                <span style="font-weight: bold">成功可退款
                                                                                    <span style="color: #ec0a0a;font-size: 1.2rem"><i class="fa fa-jpy"></i>{$vo.success_price}</span>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {/volist}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file="base/footer"}
</div>

{/block}

{block name="my-js"}
<script>

</script>
{/block}