<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 agileinfo_footer_grid">
            <h3>联系客服</h3>
            <ul class="agileinfo_social_icons">
                <li><a href="javascript:;" class="wechat" ><span class="fa fa-wechat" aria-hidden="true"></span><i>-</i>wechat</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->

<div class="modal fade"  id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="wechatModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">扫一扫添加客服微信</h4>
            </div>
            <div class="modal-body">
                <img src="/static/index/images/wechat.jpg" alt="" style="width: 100%">
            </div>
        </div>
    </div>
</div>

<!-- copy-right -->
<div class="w3agile_copy_right">
    <div class="container">
        <p>Copyright &copy; 2017.Company name All rights reserved.蜀ICP备05001424号</p>
    </div>
</div>
<!-- //copy-right -->
<script>
    $('.wechat').click(function () {
        $('#wechatModal').modal('show');
    });
</script>