{extend name="layout/layout"}
{block name="title"}充值申请{/block}
{block name="body"}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>充值申请</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <table id="rechargeApply"  data-mobile-responsive="true"  data-pagination="true" data-page-list=[10]>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Basic -->
</div>

</body>
{/block}
{block name="my-js"}
<script>
    $(function () {
        $.ajax({
            url: 'applyDetails',
            type: 'POST',
            dataType: 'json',
            cache: false,
            success: function (res) {
                console.log(res);
                if (res.code) {
                    var btt_data = res.data;

                    $('#rechargeApply').bootstrapTable({
                        data: btt_data,
                        columns: [{
                            field:"id",
                            title:"编号"
                        }, {
                            field:"name",
                            title:"用户帐号"
                        },{
                            field:"amount",
                            title:"充值金额"
                        }, {
                            field:"way",
                            title:"充值方式"
                        }, {
                            field:"status",
                            title:"状态"
                        }, {
                            field:"created_date",
                            title:"充值时间"
                        }, {
                            field: 'operate',
                            title: '操作',
                            align: 'center',
                            events: operateEvents,
                            formatter: operateFormatter
                        }]
                    });
                } else {
                    layer.msg(res.msg, {time: 1500});
                }
            },
            error: function () {
                console.log(res);
            }
        });

        var operateFormatter = function() {
            return [
                '<a class="agree btn btn-info btn-xs" href="javascript:void(0)" style="margin-right:10px;" title="Agree">',
                '同意',
                '</a>',
                '<a class="refuse btn btn-danger btn-xs" href="javascript:void(0)" title="Refuse">',
                '拒绝',
                '</a>'
            ].join('');
        };

        window.operateEvents = {
            'click .agree': function (e, value, row) {
                alert('You click like action, row: ' + JSON.stringify(row));
                commonOperate(row.id,1);
            },
            'click .refuse': function (e, value, row) {
                alert('You click like action, row: ' + JSON.stringify(row));
                commonOperate(row.id,0);
            }
        };

        var commonOperate = function (id,operate) {
            //加载遮罩层
            layer.load(1, {
                shade: [0.5,'#fff']
            });
            $.ajax({
                url: 'operation',
                type: 'POST',
                dataType: 'json',
                data: {
                    id : id,
                    operate : operate
                },
                cache: false,
                success: function (res) {
                    console.log(res);
                    var callBack = '';
                    if(res.code == 1){
                        callBack = function () {
                            parent.refreshIframe();
                        };
                    }
                    layer.closeAll('loading');
                    layer.msg(res.msg,{time:1500},callBack);
                },
                error: function () {
                    layer.closeAll('loading');
                    console.log(res);
                }
            });
        };
    });
</script>
{/block}
