body{ font:12px/1.5 Microsoft YaHei, \5b8b\4f53, tahoma, arial, Hiragino Sans GB, sans-serif; background-color:#f1f1f1;}
*{ margin:0; padding:0;}
ul,ol,li,dl{ list-style-type:none; margin: 0;padding: 0}
img{ border:0;}
a,button,input{text-decoration:none;-webkit-tap-highlight-color:transparent; outline:none!important;}
a{cursor: pointer}
a:focus,a:hover {text-decoration: none;-webkit-tap-highlight-color:transparent;}
button:hover,button:focus,button:focus:active{outline: none;}
input::placeholder,textarea::placeholder{color: #bdbdbd;}
.clear{ clear:both;}
.left, .l{ float:left;}
.right, .r{ float:right;}
.overflow{overflow: hidden;}
.width-auto{width: auto;}
.bg-white{
    background: #fff;
}
.f1{
    zoom: 3;
}
.text-lg{
    font-size: 2rem;
}
.text-md{
    font-size: 1.6rem;
}
.text-sm{
    font-size: 1rem;
}
.text-xs{
    font-size: .8rem;
}
/*header*/
.head-section {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #000000;
    color: #fff;
}
.navbar-brand{
    padding: 10px 0;
}
.menu-box .navbar-header{

}
.menu{
    float: right;
}
.menu .nav-list{
    display: table;
}
.menu .nav-list li{
    display: table-cell;
    width: auto;
    text-align: center;
}
.menu .nav-list li a{
    color: #fff;
    padding: 19px 10px;
    font-size: 1.6rem;
}
.menu .nav-list li:not(.login).active>a,
.menu .nav-list li:not(.login).active>a:hover,
.menu .nav-list li:not(.login)>a:hover {
    border-bottom: 1px solid #f08200;
    background: transparent;
    border-radius: 0;
    color: #f08200;
}
.menu .nav-list li.login{
    padding:0;
    width: auto;
}
.menu .nav-list li.login a{
    display: inline-block;
    padding: 19px 10px;
    color: #d3d2d2;
    position: relative;
    font-size: 1.4rem;
}
.menu .nav-list li.tel span{
    color: #d3d2d2;
}
.head-section .menu .nav-list li.login a:hover{
    color: #fff;
    background: transparent;
}
.head-section .menu .nav-list li.login a+a:before{
    content: "";
    border-left: 1px solid #d3d2d2;
    position: absolute;
    top:21px;
    left: 0;
    height: 16px;
}
.navbar-toggle{
    margin-top: 12px;
    border-color: #fff;
}

.navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f08200;
    color: #fff;
}
/*one*/
.height-100{
    height: 100%;
    width: 100%;
}
.one .fp-tableCell {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
/*banner*/
.banner{
    background: #e8e8e8;
}
.banner img{
    width: 100%;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: rgba(24, 24, 24, .5);
    border: 1px solid rgba(24, 24, 24, .5);
    border-radius: 12px;
    margin: 0 8px;
}
.swiper-pagination-bullet-active {
    width: 30px;
    height: 12px;
    margin: 0 8px;
    background-color: rgba(255,0,0,.6);
    border: 1px solid rgba(255,0,0,.6);
}

.swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 80px;
    margin-top: -40px;
    z-index: 100;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-menu{
    display: table;
    width: 100%;
    padding: 4rem 2rem;
    text-align: center;
}
.icon-menu li{
    display: table-cell;
}
.icon-menu li a{
    color: #666;
}
.icon-menu li a i{
    display: inline-block;
    width:10rem;
    height:10rem;
    border-radius: 50%;
    color: #fff;
    font-size: 6rem;
    line-height: 10rem;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    text-align: center;
}
.icon-menu li a:hover i{
    z-index: 2;
    -webkit-transform: translate3d(0, -3px, 0) scale(1.1);
    transform: translate3d(0, -3px, 0) scale(1.1);

}
.bg-red{
    background: #ff7c7c;
}
.bg-blue {
    background: #00a0e9;
}
.bg-orange{
    background: #ff9140;
}
.bg-yellow{
    background: #ffab00;
}
.bg-green{
    background: #01a167;
}
.icon-menu li a h5{
    font-size:1.6rem;
    margin: 2rem 0 1rem ;
}
.icon-menu li a p{
    font-size: 1rem;
}
.title-h{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 6rem;
    color: #b96e3b;
}
.title-h.white{
    color:#fff;
}
.title-h h4{
    font-size: 2.2rem;
}
.content-p p{
    font-size: 1.6rem;
    line-height: 2;
    text-indent: 2em;
    color: #888;
    margin-bottom: 0;
    margin-top: 1rem;
}
.content-p p+p{
    margin-top: 3rem;
}
.content-li li{
    width: 80%;
}
.content-li li+li{
    margin-top: 2rem;
}
.content-li li h5{
    font-size: 1.8rem;
}
.content-li li h5 i{
   padding-right: 14px;
}
.content-li li p{
    font-size: 1.6rem;
    padding-left: 30px;
    color: #999;
}
.red{
    color: #f83622;
}
.blue{
    color: #4b87b9;
}
.orange{
    color: #ff6600;
}
.green{
    color: #01a167;
}
.four{
    background: url("../img/solutions_bg.png") center no-repeat;
    background-size: cover;
}

.advantages-icon{
    display: table;
    width: 100%;
    text-align: center;
}

.advantages-icon li{
    display: table-cell;
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    padding: 0 40px;
    cursor: pointer;
}

.advantages-icon li h5{
    font-size: 1.8rem;
    margin: 20px 0 10px ;
}
.advantages-icon li p{
    height: 4rem;
}
.advantages-icon li i{
    display: inline-block;
    width:10.4rem;
    height: 10.4rem;
    border-radius: 50%;
    color: #fff;
    font-size: 7rem;
    line-height: 10.4rem;
    border:6px solid #fff;
    -webkit-transition: opacity .6s, -webkit-transform .6s;
    transition: opacity .6s, transform .6s;
    -webkit-transform: scale(.9);
    transform: scale(.9);
}
.advantages-icon li:hover{
    color: #1dd2af;
   -webkit-transition: opacity .6s, -webkit-transform .5s,color 0.6s ease;
    transition: opacity .6s, transform .6s,color 0.5s ease;

}
.advantages-icon li:hover i{
    color: #1dd2af;
    border:6px solid #1dd2af;
    animation:myfirst 1s;
    -webkit-transition: opacity .6s, -webkit-transform .6s, color 0.3s linear;
    transition: opacity .6s, transform .6s,color 0.3s linear;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.product-list{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    height: auto;
}
.product-list li{
    width: 18%;
    float: left;
    border:1px solid #ddd;
    box-sizing: border-box;
}
.product-list li+li{
    margin-left:2.5%;
}
.product-list li .thumbnail {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #fff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
    border:0;
    border-radius:0;
}

.product-list li .thumbnail img {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
    height:inherit;
    opacity: 1;
}

.product-list li .thumbnail figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,.6);
}

.product-list li .thumbnail:hover img {
    animation-duration: 3s;
    opacity: .95;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.product-list li .thumbnail figcaption::before,
.product-list li .thumbnail figcaption::after {
    position: absolute;
    top: 1.6em;
    right: 1.6em;
    bottom: 1.6em;
    left: 1.6em;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
    transition: opacity 0.6s, transform 0.6s;
    pointer-events: none;
}
.product-list li .thumbnail figcaption::before{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.product-list li .thumbnail figcaption::after{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    z-index: 10;
}
.product-list li .thumbnail h4 {
    font-size: 1.5em;
    padding: 40% 0 2rem 0;
    line-height: 2;
    text-align: center;
    color: #fff;
}
.product-list li .thumbnail a{
    background: rgba(255,255,255,.87);
    color: #333;
    padding: 6px 10px;
    font-size: 1.3rem;
 }

.product-list li .thumbnail:hover figcaption{
    opacity: 1;
}
.product-list li .thumbnail:hover figcaption::before,
.product-list li .thumbnail:hover figcaption::after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #fff;
}
.product-list li.product-s{
    background: #1c1d22;
}
.product-list li.product-s a{
    display: block;
    padding: 1em;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}
.product-list li.product-c img{
    width: 100%;
}
.product-list li.product-c:hover .pc-h,.product-list li.product-c .pc-n{
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    display: block;
    opacity: 1;
}
.product-list li.product-c:hover .pc-n,.product-list li.product-c .pc-h{
    -webkit-transition:all 1s linear;
    transition: all 1s linear;
    display: none;
    opacity: 0;
}
.product-list li.product-s img{
    display: block;
    width: 70%;
    margin: 1rem auto;
}
.product-list li.product-s h1{
    margin: 0;
}
.about-gs{
    background: url("../img/abou_bg.png") no-repeat bottom center;
    background-size: cover;
}
.about-gs ul li{
    width:30%;
    background: #fff;
    float: left;
    cursor:pointer;
   -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.about-gs ul li:hover{
    z-index: 2;
    -webkit-box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -6px, 0) scale(1.05);
    transform: translate3d(0, -6px, 0) scale(1.05);

}
.about-gs ul li h4{
    font-size: 2rem;
    text-align: center;
    background: #f2f2f2;
    line-height: 2;
}
.about-gs ul li p{
    margin-top: 2rem;
    padding:0 2rem;
    font-size: 1.5rem;
    color: #888888;
    line-height: 1.8;
    height: 150px;
}
.about-gs ul li img{
    width: 100%
}
.about-gs ul li+li{
   margin-left: 5%;
}
.footer .fp-tableCell{
    display: block;
    width: 100%;
}
.footer{
    background: #fff;
    padding-top: 20px;
}
.footer dl{
    width: 20%;
    float: left;
    text-align: center;
    padding-bottom:20px;
}
.footer dl dt{
    font-size: 1.6rem;
    color: #555555;
    line-height: 2;
}
.footer dl dd a{
    font-size: 1.4rem;
    color: #666;
    line-height: 1.8;
}
.footer dl dd a:hover{
    color: #f83622;
}
.footer p{
    text-align: center;
    color: #666;
    padding: 20px;
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
}

.btn-join{
    position: fixed;
    right: 1%;
    top:70%;
    color: #fff;
    width: 92px;
    height: 72px;
    background: url("../img/join1.png") no-repeat center;
    -webkit-background-size:contain;
    background-size: contain;
    z-index: 111!important;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.btn-join:hover{
    width: 200px;
    height: 72px;
    background: url("../img/join.png") no-repeat center;
    -webkit-background-size:contain;
    background-size: contain;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.btn-join span{
    opacity: 0;
}
/*
	login.html
*/
.login-box{
    background: #ffffff;
    box-shadow: 0 1px 24px 0 rgba(168,188,204,0.50);
    z-index: 10;
    position: relative;
    margin: 10rem auto;
    width: 40%;
    border-radius: 5px;
    overflow: hidden;
}
#find_pw.login-box,.lang.login-box{
    background: #ffffff;
    box-shadow: 0 0 0 0 rgba(168,188,204,0.50);
    z-index: 100;
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
}
/*tab切换*/
.nav-tabs {
    border-bottom: 0 solid #ddd;
    background: #eaeaea;
    overflow: hidden;
}
.login-box .nav-tabs > li > a {
    padding: 1.5rem 0;
    color: #666;
    text-align: center;
    margin: 0;
    border-radius: 0;
    font-size:1.6rem;
}
.login-box .nav-tabs > li{
    padding: 0;
}
.login-box .nav-tabs > li.active > a,
.login-box .nav-tabs > li.active > a:focus,
.login-box .nav-tabs > li.active > a:hover {
    color:#ff8a00;
    border: 0;
    background-color: #fff;
}

.login-box form {
    padding: 2rem;
}

.login-box form.form-horizontal .input-group{
    float: left;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.login-box form.form-horizontal .input-group-addon {
    padding: 10px 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background: #ededed;
    border: 0;
}
.login-box form.form-horizontal .input-group-addon i{
    font-size: 2.5rem;
    color: #888;
}
.login-box form.form-horizontal .form-group{
    margin: 0;
}
.login-box form .form-control {
    border:0 solid #cccccc;
    border-radius:5px;
    padding: 10px 12px;
    height:46px;
    background: #ededed;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.checkbox{
    line-height: 20px;
    font-size: 1.5rem;
}
.checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    position: relative;
}
.checkbox input[type="checkbox"]:before {
    position: absolute;
    left: 0;
    top:-1px;
    width: 20px;
    height: 20px;
    content: "\e649";
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

 }
.checkbox input[type="checkbox"]:checked:before {
    content: "\e69b";
    color: #ffb03f;
}

.login-box small {
    font-size: 80%;
    padding-left: 8px;
}
.find,.find:hover{
    color:#ff4f66;
}
.login-box .btn.success-link{
    background:#ff8a00;
    color: #fff;
    border-radius:8px;
    height:46px;
    line-height: 34px;
}
/*加盟*/
.join{
    width: 100%;
    margin: 40px auto;
}
.join-tu img{
    display: block;
    width: 60%;
    margin: 2rem auto 0;
}
.join form textarea.form-control{
    height: 220px;
}
.join form.form-horizontal .input-group-addon{
    vertical-align: top;
}

/*新闻*/
.news-hot,.news{
    width: 100%;
    background: #fff;
    margin: 2rem auto 0;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    box-shadow: 0 1px 8px 0 rgba(168,188,204,0.40);
}
.news-hot:hover,.thumbnail:hover{
    -webkit-box-shadow: 0 1px 16px 0 rgba(168,188,204,0.40);
    box-shadow: 0 1px 16px 0 rgba(168,188,204,0.40);
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
    border: 0;
}

.news-time{
    position: absolute;
    top:0;
    right: 0;
    background: #ca3838;
    color: #fff;
    padding: .5rem .8rem;
    text-align: center;
    font-size: .8rem;
}
.news-time h2{
    margin: 0;
    line-height: 1.3;
}
.news-list{
    margin-top: 2rem;
}
.news-list li a{
    margin-bottom: 2rem;
    overflow: hidden;
    display: block;
}


.thumbnail{
    position: relative;
    box-sizing: border-box;
    border: 0;
    padding: 0;
}
.thumbnail:hover{
    -webkit-box-shadow: 0 1px 8px 0 rgba(168,188,204,0.40);
    box-shadow: 0 1px 8px 0 rgba(168,188,204,0.40);
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
    border: 0;
}
.thumbnail h4{
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.thumbnail p{
    color: #999;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
.thumbnail .caption div{
    color: #888;
    font-size: 1.5rem;
    line-height: 2;
}
.news-list.news-s li:first-child{
    width: 100%;
    overflow: hidden;
}
.news-list.news-s li:first-child img,.news-list.news-s li:first-child .caption{
    width: 50%;
    float: left;
    position: relative;
}
.news-s li:not(:first-child ) .thumbnail>img,.shop .thumbnail>img{
    height: 165px;
    width: 100%;
}
/*.news-hot dt img{
    width: 100%;
}*/
.news-list.news-s li:first-child .thumbnail{
    position: relative;
}
.news-list.news-s li:first-child .thumbnail:after{
    position: absolute;
    top:4px;
    left: 4px;
    content:"";
    background: url("../img/hot_1.png") no-repeat;
    background-size: contain;
    width: 9%;
    height: 19%;
}
.news-list.news-s li:first-child .caption a{
    display: block;
    padding: 1rem;
    overflow: hidden;
    color: #888888;
    line-height: 25px;
    font-size: 15px;

}
.news-list.news-s li:first-child .thumbnail h4.text-center{
    color: #ff1f30;
    position: relative;
    padding: 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 2.6rem;
    text-align: left;
}
.news-list.news-s li:first-child .thumbnail  p{
    height: 125px;
    margin-bottom: 3rem;
    text-indent: 2em;
    overflow: hidden;
}
.news-list.news-s li:first-child .thumbnail h4:before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 3rem;
    border-bottom: 2px solid #ff1f30;
}
.news-list.news-s li:first-child .thumbnail .caption small{
    display: block;
    color: #9e9e9e;
}
.shop .thumbnail h4{
    font-size: 16px;
    height:17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    line-height: 1.6;
}
.news .news-header{
    line-height: 2;
    color: #999;
}
.news .news-header span+span{
    margin-left: 1rem;
}
.news-con p{
    font-size: 1.4rem;
    text-indent: 2em;
    line-height: 1.6;
}
.news-con img{
    display: block;
    width: 70%;
    margin: 1rem auto;
}

/*商城*/
.shop-header{
    border-bottom: 1px solid #eee;
    background: #fff;
}
.shop-header .top{
    background: #555;
    width: 100%;
}
.shop-header .top li{
    display: inline-block;
    position: relative;
}
.shop-header .top li a,.shop-header .top li span{
    display: inline-block;
    color: #fff;
    padding: 6px 10px;
}
.shop-header .top .pull-left li img{
    display: none;
    position: absolute;
    top:100%;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    z-index: 111;
}

.shop-header .top .pull-left li:hover img{
    display: block;
}
.shop-header .menu .nav-list li{
    padding: 19px 10px;
    display: inline-block;
}
.shop-header .menu .nav-list li a{
    color: #333;
    padding: 0;
}
.shop-header .menu .nav-list li a:hover{
    border-bottom: 0;
}
.shop-header .navbar-toggle {
    margin-top: 12px;
    border-color: #ff9600;
}
.shop-header .navbar-toggle .icon-bar {
    background-color: #ff9600;
}
.shop-cart ul{
    width: 300px;
    padding:0 10px;
    box-sizing: border-box;
    margin-top: 0;
}
.menu .nav-list li.shop-cart ul li{
    width: 100%;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.menu .nav-list li.shop-cart ul li a{
    display: block;
    padding: 0;
    overflow: hidden;
    text-align: left;
}
.menu .nav-list li.shop-cart ul li a:hover{
    color: #666;
}
.menu .nav-list li.shop-cart ul li a img{
    padding: 0;
    height: 72px;
}
.menu .nav-list li.shop-cart ul li.last-a{
    border-bottom: 0;
}
.menu .nav-list li.shop-cart ul li.last-a p span{
    margin-left: 10px;
}
.menu .nav-list li.shop-cart ul li.last-a .btn,.menu .nav-list li.shop-cart ul li.last-a .btn:hover{
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    border: 0;
}
.menu .nav-list li.shop-cart ul li.last-a .btn.btn-success{
    background: #00c670;
}
.menu .nav-list li.shop-cart ul li.last-a .btn.btn-warning{
    background: #ff9600;
}

/*首页左侧导航*/
.left-fixed{
    position: fixed;
    top:20%;
    left: 50%;
    margin-left: -700px;
}
.left-menu{
    padding: 5px;
    background: #fff;
    text-align: center;
    width:100px;
    z-index: 113;
    border-radius: 4px;
    border:1px solid #eee;
}
.left-menu li+li{
    border-top: 1px solid #eee;
}
.left-menu li a{
    display: block;
    padding: 6px 0;
    color: #666;
}
.left-menu li a:hover,.left-menu li.active a,.left-menu li.active a:hover{
    color: #ffb03f;
}
.left-menu li h5{
    background: #ffb03f;
    margin: 0;
    padding: 6px 0;
    color: #fff;
    border-radius: 3px;
}
/*右侧导航*/
.right-menu{
    position: fixed;
    width:50px;
    top:0;
    bottom:0;
    right: 0;
    padding: 15% 0 0;
    background: #000000;
    color: #fff;
    z-index: 113;
    text-align: center;
}
.right-menu a.user-center img{
    width: 80%;
    margin: 0 auto;
}
.right-menu a{
    color: #fff;
    display: block;
    padding: 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right-menu .shop-cart-right{
    width: 100%;
    display: block;
    background: #ff9600;
    font-size: 1.6rem;
    padding: 10px 0;
}
.right-menu a i{
    font-size: 2.4rem;
}
.right-menu .shop-cart-right .label{
    width: 1.8rem;
    height: 1.8rem;
    background: #fff;
    color:#ff9600;
    border-radius: 50%;
    display: block;
    margin: .4rem auto 0;
    font-size: 1.3rem;
    line-height: 1

}
.right-menu .totop{
    position: absolute;
    bottom: 8%;
    width: 100%;
    text-align: center;
}
/*右侧内容*/
.right-list{
    position: fixed;
    width:300px;
    top:0;
    bottom:0;
    right: 50px;
    background: #fff;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 112;
    display: none;
}
.right-list h4{
    background: #f2f2f2;
    margin: 0;
    padding: 10px 15px;
}
.right-list a{
    color: #666;
    display: block;
}
.right-list ul{
    padding:0 5px;
}
.right-list ul li{
    width: 145px;
    padding: 5px;
    margin-bottom: 10px;
}
.right-list ul li img{
    height: 130px;
}
.right-list ul li p{
    margin: 0;
}

/*商城首页*/
.hot{
    padding-top: 20px;
    overflow: hidden;
}

.hot .hot-st{
    margin-left: 10px;
    background: #ffb03f;
    color: #fff;
    font-size: .9rem;
    padding:3px 8px;
    border-radius: 3px;
    position: relative;
}
.hot .hot-st:before{
    position: absolute;
    right:100%;
    content: '';
    top: 5px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-right: 5px solid #ffb03f;
    z-index: 2201!important;
}
.hot ul li img{
    cursor: pointer;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    margin-bottom: 20px;
}
.hot li:hover img{
    z-index: 2;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translate3d(0, -2px, 0) scale(1.05);
    transform: translate3d(0, -2px, 0) scale(1.05);
}
.title-shop{
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-left: 15px;
    margin-right: 15px;
}
.new-product{
    overflow: hidden;
    display: block;
    margin-top: 20px;
}
.new-product li{
    margin-bottom: 20px;
}
.lookmore{
    text-align: center;
    width: 150px;
    padding: 6px 0;
    line-height: 18px;
    border-radius: 15px;
    border: 1px solid #ddd;
    color: #666;
    display: block;
    margin:0 auto 10px ;
}
.lookmore:hover{
    color: #ffb03f;
    border: 1px solid #ffb03f;
}
.shop-act{
    margin-top: 20px;
    overflow: hidden;
}
.shop-act li{
    margin-bottom: 20px;
}
.shop-act a{
    display: block;
    position: relative;
}
.shop-act div{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background: rgba(0,0,0,.6);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*分类*/
.shop-list{
    position: relative;
    padding-left: 120px;
    margin-top: 20px;
}
.shop-list .left-menu{
    position: absolute;
    left: 0;
    top: 0;
}

/*购物车*/
.car-list{
    overflow: hidden;
    margin: 20px;
    border: 1px solid #ddd;
    background: #fff;
}
.car-list dt{
    background: #EEEEEE;
    padding: 0 15px;
    line-height: 40px;
    overflow: hidden;
}
.car-list dt .btn-warning{
    height: 40px;
    line-height: 28px;
}
.car-list dd{
    margin: 0 20px;
}
.car-list dd+dd{
    border-top: 1px solid #ddd;
}
.car-list dd:not(.page-dd) ul{
    display: table;
    width: 100%;
}
.car-list dd:not(.page-dd) ul li{
    display: table-cell;
    width: auto;
    vertical-align: middle;
    padding: 10px 0;
    text-align: center;
}
.car-list dd ul li.tu-product,.car-list dd ul li.tu-product img{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.car-list dd ul li.s-name{
    text-align: left;
    width: 30%;
    padding-left: 20px;
}
.car-list dd ul li .text-sm{
    color: #333;
    display: block;
    margin-bottom: 20px;
}
.number.input-group .form-control {
    border:1px solid #ddd;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    width: 40px;
    padding: 6px 10px;
    text-align: center;
}
.number .input-group-btn{
    width: auto;
}
.car-list .work a{
    color: #555;
    display: block;
    line-height: 2;
    text-align: center;
}
/*产品详情*/
.breadcrumb{
    margin-top: 20px;
    background: transparent;
}
.Xcontent{
    margin: 20px 0;
    overflow: hidden;
}
.show{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.show-list{
    margin: 20px auto;
    position: relative;
    width: 80%;
}
.changes{
    overflow: hidden;
}
.changes dt,.changes dd{
    display: inline-block;
    padding:10px 20px 10px 0;
    float: left;
    overflow: hidden;
    line-height: 27px;
}
.changes.change-color dt,.changes.change-color dd{
    line-height: 100px;
}
.changes.change-color dd a{
    display: block;
    overflow: hidden;
    width: 100px;
}
.changes.change-color dd img{
    width: 100%;
}
.changes.change-color dd a.active{
    border: 1px solid #ff1f30;
    position: relative;
}
.changes [data-toggle=buttons]{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.changes [data-toggle=buttons]>.btn{
    position: relative;
    float: left;
    font-size: .9rem;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 .5rem 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: #e0dfdf;
    color: #666;
    border-radius: 4px;
}

.changes [data-toggle=buttons]>.btn.active{
    background: #ff1f30;
    color: #fff;
}
.changes [data-toggle=buttons]>.btn input[type=radio]{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.buy a.btn{
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 20px;
}
.buy a.btn+.btn{
    margin-left: 20px;
}

.details-info{
    overflow: hidden;
    border:1px solid #ddd;
}
.details-info .nav-tabs>li>a{
    background: #e7e7e7;
    border-bottom: 0;
    color: #666;
}
.details-info .nav-tabs>.active>a,
.details-info .nav-tabs>.active>a:hover,
.details-info .nav-tabs>.active>a:focus{
    background: #fff;
    color: #ffb03f;
}
.parameter dd{
    line-height: 2;
    padding-top: 10px;
    width: 50%;
    font-size: 1.5rem;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*个人中心*/
.aside-bow{
    margin-bottom: 20px;
}
.aside {
    position: absolute;
    left: 15px;
    top:0;
    bottom: 0;
    width: 230px;
    padding: 0;
    min-height: 630px;
    background: #fff;
}
.usercontent {
    margin-left: 245px;
    padding:20px 40px;
    min-height: 630px;
    background: #fff;
}

.aside .nav-tabs {
    border-bottom: 0;
    background: #fff;
}

.aside .nav-pills > li.active > a,
.aside .nav-pills > li.active > a:focus,
.aside .nav-pills > li.active > a:hover {
    color: #666;
    width: 230px;
    background-color: #fafafa;
    border: 0;
    border-left: 3px solid #00ae66;
    border-radius: 0;
}

.aside .nav-pills > li > a, .aside .nav-pills > li > a:focus {
    border-radius: 0;
    border: 0;
    border-left: 3px solid transparent;
    padding: 15px 76px;
    font-size: 16px;
    color: #666;
    margin-right: 0;
}

.aside .nav-tabs > li > a, .aside .nav-tabs > li.active > a {
    border-right: 0;
}
.user-header,.gains{
    padding: 10px 0 30px;
    border-bottom: 1px solid #e7eaec;
}
.usercontent .media-body {
    padding: 25px 20px;
    display: table-cell;
    width: 100%;
    font-size: 12px;
}
.usercontent .media-object{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.user-icon li.media{
    padding: 30px 0 10px;
    margin-top: 15px;
}
.user-icon li i{
    display: inline-block;
    width:8rem;
    height:8rem;
    border-radius: 50%;
    color: #fff;
    font-size: 5rem;
    line-height: 8rem;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    text-align: center;
}
/*订单*/
.order-list{
    border: 1px solid #ddd;
}
.order-list .nav-tabs > li > a {
    margin-right: 0;
    color: #666;
}
.order-list .nav-tabs > li > a:hover,
.order-list .nav-tabs > li > a:focus,
.order-list .nav-tabs > li.active > a,
.order-list .nav-tabs > li.active > a:hover,
.order-list .nav-tabs > li.active > a:focus{
    background: #ffb03f;
    color: #fff;
}
.order-list .car-list dd ul li.s-name{
    text-align: left;
    width: 40%;
    padding-left: 20px;
}
/*资金*/
.gains-icon li i{
    width: 64px;
    height: 64px;
    font-size: 40px;
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
}
.gains-icon .media{
    margin-top: 30px;
}
.gains i{
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    color: #fff;
    background: #ff9140;
}
.detailed-list{
    background: #f2f2f2;
}
.detailed-list li{
    background: #fff;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    margin-top: 5px;
}
.detailed-list li h5{
    position: relative;
    overflow: hidden;
    line-height: 2rem;
    font-weight: normal;
    font-size: 1rem;
    margin: 5px 0;
}
.detailed-list li h5 i.iconfont{
    color: #00AA88;
}
.detailed-list li .conn{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2;
    margin: 5px 0;
}
.detailed-list li .footer{
    border-top: 1px solid #eee;
    line-height: 2rem;
    font-size: .9rem;
    overflow: hidden;
    padding-top: 5px;
}
/*我的地址*/

.address ul li .address-box{
    background: #fff;
    border: solid 1px #e6e6e6 ;
}
.address-box h5{
    background: #e6e6e6;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
}
.address-con{
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
}
.address .addressLeft .addressLeftBottom01{
    margin: 3% 0;
}
.address-con li+li{
    padding-top: 15px;
}
.address-con li{
    line-height: 2rem;
}
.address-con li i{
    font-size: 1.6em;
}
.address-con li span{
    font-size: 1rem;
    margin-left: 3%;
}
.address-box.login-box form{
    padding: 0;
}
.address-box.login-box form.form-horizontal .input-group{
    margin-bottom: 0;
}
.address-box.login-box form.form-horizontal .input-group-addon {
    padding: 5px 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background: #ededed;
    border: 0;
}
.address-box.login-box form .form-control {
    border: 0 solid #cccccc;
    border-radius: 5px;
    padding: 5px 12px;
    height: 36px;
    background: #ededed;
}
.address-box.login-box .btn.success-link{
    padding: 5px 12px;
    height: 35px;
    line-height: 24px;
}

.order-detailsh li{
    background: #EEEEEE;
    line-height: 40px;
    padding: 0 15px;
}
.order-detailsbox{
    padding: 15px;
}
.logistics ul{
    margin: 1rem 0;
    display: table;
    width: 100%;
}
.logistics ul li{
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.logistics ul li:before{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top:40%;
    border-top: 2px dashed #e17339;
    z-index: 0!important;
}
.logistics ul li i {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    background: #d0d0d0;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1!important;
}
.logistics ul li.on i{
    background: #25b292;
}
.logistics ul li i img{
    padding-top: 2.2rem;
}
@media only screen and (max-width: 1660px)and (min-width: 1300px) {
    .product-list{
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .title-h {
        margin-bottom: 5rem;

    }
    .left-fixed{
        position: fixed;
        margin-left: -680px;
    }
}
@media only screen and (max-width: 1299px)and (min-width: 1201px) {
    .container{
        max-width: 1100px;
    }
    .product-list{
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .title-h {
        margin-bottom: 3rem;
    }
    .left-fixed{
        position: fixed;
        margin-left: -600px;
    }
}
@media only screen and (max-width: 1200px)and(min-width: 1000px) {
    .container{
        max-width: 100%;
    }
    .product-list{
        overflow: hidden;
        width: 96%;
        margin: 0 auto;
        height: auto;
    }
    .title-h {
        margin-bottom: 3rem;

    }
    .join-tu img {
        display: block;
        width: 76%;
        margin: 2rem auto 0;
    }
    .left-fixed{
        position: fixed;
        margin-left: -500px;
    }
}
@media (max-width: 880px){
    .container{
        width: 100%;
        max-width: 100%;
    }
    .navbar-toggle{
        display: inline-block;
        position: relative;
    }
    .menu{
        display: none;
    }
    .navbar-header {
        float: none;
    }
    .menu.open{
        display: block;
        float: none;
        border-top: 1px solid #666;
    }
    .menu.open .nav-list {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .menu.open .nav-list li,.menu.open .nav-list li.login{
        display: block;
        width: 100%;
    }
    .menu.open .nav-list > li:not(.login) > a{
        line-height: 20px;
        display: block;
        float: none;
        text-align: center;
        padding: 10px 0;
    }
    .menu.open  .nav-list li.login a{
        padding: 10px 10px;
    }
    .menu.open .nav-list > li > a:hover,
    .menu.open .nav-list > li > a:focus {
        background-image: none;
    }
    .head-section .menu.open  .nav-list li.login a+a:before {
        top: 13px;
    }
    .menu .nav-list li.tel span{
        display: none;
    }
    .product-list{
        width: 100%;
    }
    .icon-menu li a i {
        width: 8rem;
        height: 8rem;
        font-size: 5rem;
        line-height:8rem;
    }
    .title-h {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 3rem;
        color: #b96e3b;
    }
    .content-t img{
        display: block;
        width: 80% !important;
        margin: 0 auto;
    }
    .content-p p{
        font-size: 1.4rem;
    }
    .content-li li {
        width: 100%;
    }
    .advantages-icon li{
        padding: 1rem 0!important;
    }
    .advantages-icon li h5 {
         font-size: 1.4rem;
         margin: 20px 0 10px;
     }
    .advantages-icon li p{
        font-size: 1.1rem;
    }
    .advantages-icon li i{
        display: inline-block;
        width:6rem;
        height: 6rem;
        border-radius: 50%;
        color: #fff;
        font-size: 4rem;
        line-height: 6rem;
        border:3px solid #fff;
        -webkit-transition: opacity .6s, -webkit-transform .6s;
        transition: opacity .6s, transform .6s;
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    .product-list li {
        width: 48%;
        margin:0 1% 1rem;
        float: left;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }
    .product-list li+li{
        margin-left: 1%;
    }
    .about-gs ul li {
        width: 100%;
        background: #fff;
        float: left;
        cursor: pointer;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
    }
    .about-gs ul li+li{
        margin-left: 0;
        margin-top: 1rem;
    }
    .about-gs ul li p {
        margin-top: 1rem;
        padding: 0 1rem;
        font-size: 1.3rem;
        color: #888888;
        line-height: 1.8;
        height: auto;
    }
    .about-gs ul li h4 {
        font-size: 1.8rem;
        text-align: center;
        background: #f2f2f2;
        line-height: 1.8;
    }
    .login-box{
        background: #ffffff;
        box-shadow: 0 1px 24px 0 rgba(168,188,204,0.50);
        z-index: 10;
        position: relative;
        margin: 10rem auto;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
    .join{
        margin: 2rem auto;
    }
    .news-list li:first-child img,.news-list li:first-child .caption{
        width: 100%;
        float: left;
        position: relative;
    }

    .news-list li:first-child .thumbnail h4.text-center{
        color: #ff1f30;
        padding:0 0 1rem 0;
        margin: 10px 0;
        text-align: left;
        font-size: 16px;
    }
    .news-list li:first-child .thumbnail  p{
        color: #999;
        line-height: 20px;
        height: 60px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .shop-header .menu .nav-list li {
        padding: 0 10px;
        display: inline-block;
    }
}
@media (max-width: 640px){
    .icon-menu {
        padding: 2rem 1rem;
    }
    .icon-menu li a i {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        line-height:5rem;
    }
}
@media (max-width: 400px){
    .icon-menu {
        padding: 2rem 1rem;
    }
    .icon-menu li a i {
        width: 4rem;
        height: 4rem;
        font-size: 2.4rem;
        line-height:4rem;
    }
}
@media only screen and (max-width: 999px)and (min-width: 768px) {
    .container {
        max-width: 100%!important;
        width: 100%;
    }
    .join-tu img {
        display: block;
        width: 76%;
        margin: 2rem auto 0;
    }
}

/*动画*/
.active .title-h{
    -webkit-animation: fadeInDownBig 1s .2s ease both;
    -moz-animation: fadeInDownBig 1s .2s ease both;
    -ms-animation: fadeInDownBig 1s .2s ease both;
    animation: fadeInDownBig 1s .2s ease both;
}
.one.active .banner{
    -webkit-animation: pulse 1s .2s ease both;
    -moz-animation: pulse 1s .2s ease both;
    -ms-animation: pulse 1s .2s ease both;
    animation: pulse 1s .2s ease both;
}
.one.active .icon-menu li:first-child{
    -webkit-animation: bounceInLeft 1s .2s ease both;
    -moz-animation: bounceInLeft 1s .2s ease both;
    -ms-animation: bounceInLeft 1s .2s ease both;
    animation: bounceInLeft 1s .2s ease both;
}
.one.active .icon-menu li:nth-child(2){
    -webkit-animation: bounceInDown 1s .6s ease both;
    -moz-animation: bounceInDown 1s .6s ease both;
    -ms-animation: bounceInDown 1s .6s ease both;
    animation: bounceInDown 1s .6s ease both;
}
.one.active .icon-menu li:nth-child(3){
    -webkit-animation: bounceInUp 1s 1s ease both;
    -moz-animation: bounceInUp 1s 1s ease both;
    -ms-animation: bounceInUp 1s 1s ease both;
    animation: bounceInUp 1s 1s ease both;
}
.one.active .icon-menu li:last-child{
    -webkit-animation: bounceInRight 1s 1.4s ease both;
    -moz-animation: bounceInRight 1s 1.4s ease both;
    -ms-animation: bounceInRight 1s 1.4s ease both;
    animation: bounceInRight 1s 1.4s ease both;
}
.two.active .content-t {
    -webkit-animation: fadeInLeftBig 1s .6s ease both;
    -moz-animation: fadeInLeftBig 1s .6s ease both;
    -ms-animation: fadeInLeftBig 1s .6s ease both;
    animation: fadeInLeftBig 1s .6s ease both;
}
.two.active .content-p,.there.active .content-t{
    -webkit-animation: fadeInRightBig 1s 1s ease both;
    -moz-animation: fadeInRightBig 1s 1s ease both;
    -ms-animation: fadeInRightBig 1s 1s ease both;
    animation: fadeInRightBig 1s 1s ease both;
}
.there.active .content-li li{
    -webkit-animation: slideInLeft 1s 1s ease both;
    -moz-animation: slideInLeft 1s 1s ease both;
    -ms-animation: slideInLeft 1s 1s ease both;
    animation: slideInLeft 1s 1s ease both;
}
.active .advantages-icon li{
    -webkit-animation: bounceIn 1s 1s ease both;
    -moz-animation: bounceIn 1s 1s ease both;
    -ms-animation: bounceIn 1s 1s ease both;
    animation: bounceIn 1s 1s ease both;

}
.active .product-list li.product-c{
    -webkit-animation: pulse 1s .4s linear both;
    -moz-animation: pulse 1s .4s linear both;
    -ms-animation: pulse 1s .4s linear both;
    animation: pulse 1s .4s linear both;
}
.active .product-list li:first-child,.active .product-list li:nth-child(2){
    -webkit-animation: fadeInLeft 1s .6s linear both;
    -moz-animation:fadeInLeft 1s .6s linear both;
    -ms-animation: fadeInLeft 1s .6s linear both;
    animation: fadeInLeft 1s .6s linear both;
}
.active .product-list li:last-child,.active .product-list li:nth-child(4){
    -webkit-animation: fadeInRight 1s .6s linear both;
    -moz-animation: fadeInRight 1s .6s linear both;
    -ms-animation: fadeInRight 1s .6s linear both;
    animation: fadeInRight 1s .6s linear both;
}

.active.about-gs ul{
    -webkit-animation: bounceInUp 2s .6s  both;
    -moz-animation: bounceInUp 2s .6s  both;
    -ms-animation: bounceInUp 2s .6s  both;
    animation: bounceInUp 2s .6s  both;
}