{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}
{include file="base/nav"}
{/block}

{block name="main"}
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h2>为你赚网络第一桶金</h2>
                    <p>独特的升级玩法，源源不断的收益看得见</p>
                    <button class="btn btn-primary download" href="javascript:;" >安卓版下载</button>
                    <button class="btn btn-primary" href="javascript:;" disabled title="敬请期待">苹果版下载</button>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>壮大你的团队</h3>
                    <p>团队人数越多，平台分红越多，躺着数钱真好</p>
                    <button class="btn btn-primary download" href="javascript:;" data-toggle="modal">安卓版下载</button>
                    <button class="btn btn-primary" href="javascript:;" disabled title="敬请期待">苹果版下载</button>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3>战，一战到底</h3>
                    <p>做长久稳定平台，永不跑路</p>
                    <button class="btn btn-primary download" href="javascript:;" data-toggle="modal">安卓版下载</button>
                    <button class="btn btn-primary" href="javascript:;" disabled title="敬请期待">苹果版下载</button>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3>支付宝 & 微信</h3>
                    <p>采用支付宝微信进行充值提现，速度那个快哟</p>
                    <button class="btn btn-primary download" href="javascript:;">安卓版下载</button>
                    <button class="btn btn-primary" href="javascript:;" disabled title="敬请期待">苹果版下载</button>
                </div>
            </div>
        </div>
        <div class="item item5">
            <div class="container">
                <div class="carousel-caption">
                    <h3>只要你有一部手机</h3>
                    <p>操作简单易上手，赚个零花钱？可能比你工资还高</p>
                    <button class="btn btn-primary" href="{:url('/index/download')}" data-toggle="modal">安卓版下载</button>
                    <button class="btn btn-primary" href="javascript:;" disabled title="敬请期待">苹果版下载</button>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
    <div id="myModal" class="modal wthree-modal" tabindex="-1">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" >&times;</span>
                <h3>Modal Header</h3>
            </div>
            <div class="modal-body grid_3">
                <p><img src="images/img1.jpg" class="modal-img1" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend commodo mi at pharetra. Vivamus accumsan ac erat non eleifend. Nulla a tortor tortor. Phasellus eget dui vel orci lacinia fermentum. Etiam consectetur augue felis, in consectetur est facilisis id. Nam porttitor eros libero. Cras vitae metus eu dui finibus sagittis vitae at est. Aliquam pulvinar, justo eget aliquam vulputate, enim mi suscipit mi, id dapibus est tortor sit amet urna. Aenean mattis sed diam eget aliquam. Proin eu felis id diam congue ultricies ac ac ipsum. Vivamus euismod augue et tellus maximus, vitae lacinia eros feugiat. Aliquam erat volutpat. Curabitur risus dui, viverra convallis rhoncus ac, blandit et nisl. Praesent in massa non magna aliquam scelerisque eget a dolor.
                    Fusce enim magna, feugiat ac velit ac, congue vestibulum elit. Donec lectus ex, elementum nec molestie eu, lobortis sit amet enim.</p>
                <p><img src="images/img1.jpg" class="modal-img2" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend commodo mi at pharetra. Vivamus accumsan ac erat non eleifend. Nulla a tortor tortor. Phasellus eget dui vel orci lacinia fermentum. Etiam consectetur augue felis, in consectetur est facilisis id. Nam porttitor eros libero. Cras vitae metus eu dui finibus sagittis vitae at est. Aliquam pulvinar, justo eget aliquam vulputate, enim mi suscipit mi, id dapibus est tortor sit amet urna. Aenean mattis sed diam eget aliquam. Proin eu felis id diam congue ultricies ac ac ipsum. Vivamus euismod augue et tellus maximus, vitae lacinia eros feugiat. Aliquam erat volutpat. Curabitur risus dui, viverra convallis rhoncus ac, blandit et nisl. Praesent in massa non magna aliquam scelerisque eget a dolor.
                    Fusce enim magna, feugiat ac velit ac, congue vestibulum elit. Donec lectus ex, elementum nec molestie eu, lobortis sit amet enim.</p>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

<!--介绍-->
<div class="codes " id="introduce">
    <div class="container" >
        <div class="grid_3 grid_4 grid-w3hdngs">
            <h3 class="w3ls-hdg">介绍</h3>
            <div class="bs-example w3layouts">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><h1 id="h1.-bootstrap-heading">赚钱方法？<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
                        <td class="type-info w3l">购买商品，选择升级选项，升级成功即可按升级成功的价格全额退款。</td>
                    </tr>
                    <tr>
                        <td><h2 id="h2.-bootstrap-heading">其他方式？<a class="anchorjs-link" href="#h2.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h2></td>
                        <td class="type-info w3l">招兵买马，壮大你的团队，团队越大分红越多。。</td>
                    </tr>
                    <tr>
                        <td><h3 id="h3.-bootstrap-heading">谁适合做？<a class="anchorjs-link" href="#h3.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h3></td>
                        <td class="type-info w3l">任何人都可以，人脉广的建立自己团队，人脉少的购买升级即可。</td>
                    </tr>
                    <tr>
                        <td><h4 id="h4.-bootstrap-heading">平台安全吗？<a class="anchorjs-link" href="#h4.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h4></td>
                        <td class="type-info w3l">只要还有一个会员，我们承诺继续运行。</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Tables -->
<div class="codes agileitsbg3" id="dynamic">
    <div class="container">
        <div class="grid_3 grid_5 w3-agileits tables-w3">
            <h3 class="w3ls-hdg">实时动态</h3>
            <br>
            <h4 class="w3t-text">展示实时会员购买升级动态</h4>
            <div class="bs-docs-example ">
                <table class="table table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>用户账号</th>
                        <th>购买价格</th>
                        <th>升级选择</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="codes" id="result">
    <div class="container">
        <div class="grid_3 grid_5 w3-agileits tables-w3">
            <h3 class="w3ls-hdg">升级结果</h3>
            <br>
            <h4 class="w3t-text">展示每期开奖结果</h4>
            <div class="bs-docs-example ">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>升级期号</th>
                        <th>开奖结果</th>
                        <th>开奖时间</th>
                        <th>获胜方</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="awardInfo" id="vo"}
                        <tr>
                            <td>{$vo.term_num}</td>
                            <td>{$vo.result}</td>
                            <td>{$vo.updated_date}</td>
                            <td>{$vo.win}</td>
                        </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="codes">
    <div class="container">
        <div class="grid_3 grid_5 w3-agileits tables-w3">
            <h3 class="w3ls-hdg">Tables</h3>
            <br>
            <div class="agileinfo-w3lsrow">
                <div class="col-md-6 w3llist-grids">
                    <h4 class="w3t-text">Default styles</h4>
                    <p>For basic stylinglight padding and only horizontal add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.</p>
                    <div class="bs-docs-example ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 w3llist-grids w3llist-grids-btm2">
                    <h4 class="w3t-text">Bordered style</h4>
                    <p>Add borders and rounded corners to the table.</p>
                    <div class="bs-docs-example ">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <br>
            <h4 class="w3t-text">Row hover style</h4>
            <p>Enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>
            <div class="bs-docs-example ">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="support">
            <a href="javascript:;">联系我们</a>
        </div>
    </div>
</div>
<div class="w3copy-agile">
    <div class="container">
        <p class="footer-class">Copyright &copy; 2017.Company name All rights reserved.</p>
    </div>
</div>
<script src="/static/index/js/index.js"></script>
{/block}

{block name="my-js"}
<script>
    $(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
        
        //下载app
        $('.download').click(function () {
            location.href = '/download';
        });
        setInterval('autoScroll("#dataTable")', 2000);
    });

</script>
{/block}