<div class="daohang">
    <ul>
        <li class="active">
            <a href="{:url('/mapp/index')}">
                <i class="iconfont icon-shouye"></i>
                <p>首页</p>
            </a>
        </li>
        <li>
            <a href="{:url('/mapp/reward/index')}">
                <i class="iconfont icon-kaijiangjilu"></i>
                <p>开奖</p>
            </a>
        </li>
        <li>
            <a href="{:url('/mapp/rankings/index')}">
                <i class="iconfont icon-paixing"></i>
                <p>排行</p>
            </a>
        </li>
        <li>
            <a href="{:url('/mapp/user/index')}">
                <i class="iconfont icon-ICON-user"></i>
                <p class="yanse">个人</p>
            </a>
        </li>
    </ul>
</div>

