{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{:url('index/index')}">首页</a>
                        <span class="breadcrumb-item active">风云榜</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <!-- Start of Wishlist Wrapper -->
        <div class="wishlist-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="wishlist">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="section-title left-aligned with-border">
                                            <h2>result</h2>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <td>升级期号</td>
                                                    <td>官方结果</td>
                                                    <td>开奖时间</td>
                                                    <td>获胜方</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {volist name="awardInfo" id="vo"}
                                                <tr>
                                                    <td>{$vo.term_num}</td>
                                                    <td>{$vo.result}</td>
                                                    <td>{$vo.updated_date}</td>
                                                    <td>
                                                        {if($vo.win == 1)}
                                                        <div class="price">丰年</div>
                                                        {else /}
                                                        <div class="green">瑞雪</div>
                                                        {/if}
                                                    </td>
                                                </tr>
                                                {/volist}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file="base/footer"}
</div>
{/block}

{block name="my-js"}

{/block}