{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}

{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{:url('index/index')}">首页</a>
                        <span class="breadcrumb-item active">登录</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <!-- Start of Login Wrapper -->
        <div class="login-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="user-login">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="section-title left-aligned with-border">
                                            <h2>login</h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                                        <div class="login-form mt-half">
                                            <form action="" onsubmit="return false;" class="loginForm">
                                                <div class="form-group row align-items-center mb-4">
                                                    <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">输入帐号</label>
                                                    <div class="col-12 col-sm-12 col-md-8">
                                                        <input type="text" class="form-control" id="email" name="user_account" placeholder="Account" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row align-items-center mb-4">
                                                    <label for="c-password" class="col-12 col-sm-12 col-md-4 col-form-label">输入密码</label>
                                                    <div class="col-12 col-sm-12 col-md-8">
                                                        <input type="password" class="form-control" name="user_pwd" id="c-password" placeholder="Password" required>
                                                    </div>
                                                </div>
                                                <div class="login-box mt-5 text-center">
                                                    <button type="submit" class="default-btn tiny-btn mt-4 submitBtn">登录</button>
                                                </div>
                                                <div class="text-center mt-half pt-half top-bordered">
                                                    <p>还没有帐号? <a href="{:url('index/login/register')}">点这里创建</a>.</p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {include file="base/footer"}
</div>

    <div id="to_top">
        <i class="ion ion-ios-arrow-forward"></i>
        <i class="ion ion-ios-arrow-forward"></i>
    </div>
</div>

{/block}

{block name="my-js"}
<script>
$(function () {
    $("input[name='user_account']").keydown(function(){
        this.value = this.value.replace(/[^A-Za-z0-9]/i,'');
    });
    $('.submitBtn').click(function () {

        var user_name = $('input[name="user_account"]').val();
        var user_pwd = $('input[name="user_pwd"]').val();
        if(user_name == ''){
            layer.msg('请填写用户名',{time: 1000});
            return false;
        }
        if(user_pwd == ''){
            layer.msg('请填写密码',{time: 1000});
            return false;
        }
        $.ajax({
            url : '/service/login/index',
            type : "POST",
            dataType : "json",
            cache : false,
            data : {
                username : user_name,
                userpwd : user_pwd,
                type:2
            },
            success : function(data){
                var callingBack = '';
                if(data.code == 1){
                    callingBack = function(){
                        location.href='/index/user';
                    };
                }
                layer.msg(data.msg,{time: 1000},callingBack);
            },
            error : function(data){
                console.log(data);
            }
        });
        return false;
    });
});
</script>
{/block}