{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}
{include file="base/nav"}
{/block}

{block name="main"}
<div class="mail">
    <div class="container">
        <div class="clearfix"> </div>
        <div class="">
            <h4 class="agileits_w3layouts_sub">金丰年</h4>
            <h2 class="w3_agileits_head w3_agileits_head1">登录</h2>

            <div class="w3_mail_grids">
                <form action="#" method="post" onsubmit="return false;">
					<span class="input input--jiro">
						<input class="input__field input__field--jiro" type="text" id="input-10" name="user_account" placeholder="输入账号" required=""/>
						<label class="input__label input__label--jiro" for="input-10">
							<span class="input__label-content input__label-content--jiro">用户名</span>
						</label>
					</span>
                    <span class="input input--jiro">
						<input class="input__field input__field--jiro" type="password" id="input-11" name="user_pwd" placeholder="输入密码" required=""/>
						<label class="input__label input__label--jiro" for="input-11">
							<span class="input__label-content input__label-content--jiro">密码</span>
						</label>
					</span>
                    <input type="submit" class="submitBtn" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="footer"}
{include file="base/footer"}
{/block}
{block name="my-js"}
<script>
    $(function () {
        $("input[name='user_account']").keydown(function(){
            this.value = this.value.replace(/[^A-Za-z0-9]/i,'');
        });
        $('.submitBtn').click(function () {
            var user_name = $('input[name="user_account"]').val();
            var user_pwd = $('input[name="user_pwd"]').val();
            if(user_name == ''){
                layer.msg('请填写用户名',{time: 1000});
                return false;
            }
            if(user_pwd == ''){
                layer.msg('请填写密码',{time: 1000});
                return false;
            }
            $.ajax({
                url : '/service/login/index',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    username : user_name,
                    userpwd : user_pwd,
                    type:1
                },
                success : function(data){
                    var callingBack = '';
                    if(data.code == 1){
                        callingBack = function(){
                            location.href='/index/user';
                        };
                    }
                    layer.msg(data.msg,{time: 1000},callingBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>
{/block}