{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}
{include file="base/nav"}
{/block}

{block name="main"}
<div class="mail">
    <div class="container">
        <div class="clearfix"> </div>
        <div class="">
            <h4 class="agileits_w3layouts_sub">金丰年</h4>
            <h2 class="w3_agileits_head w3_agileits_head1">注册</h2>

            <div class="w3_mail_grids">
                <form action="#" method="post" onsubmit="return false;">
					<span class="input input--jiro">
						<input class="input__field input__field--jiro" type="text" id="input-10" name="user_account" placeholder="输入账号" required=""/>
						<label class="input__label input__label--jiro" for="input-10">
							<span class="input__label-content input__label-content--jiro">账号</span>
						</label>
					</span>
                    <span class="input input--jiro">
						<input class="input__field input__field--jiro" type="email" id="input-11" name="email" placeholder="输入邮箱" required=""/>
						<label class="input__label input__label--jiro" for="input-11">
							<span class="input__label-content input__label-content--jiro">邮箱</span>
						</label>
					</span>
                    <span class="input input--jiro">
						<input class="input__field input__field--jiro" type="text" id="input-12" name="parent" placeholder="输入推荐人ID" required=""/>
						<label class="input__label input__label--jiro" for="input-12">
							<span class="input__label-content input__label-content--jiro">推荐人ID</span>
						</label>
					</span>
					<span class="input input--jiro">
						<input class="input__field input__field--jiro" type="password" id="input-13" name="user_pwd" placeholder="输入密码" required=""/>
						<label class="input__label input__label--jiro" for="input-12">
							<span class="input__label-content input__label-content--jiro">密码</span>
						</label>
					</span>
                    <span class="input input--jiro">
						<input class="input__field input__field--jiro" type="password" id="input-14" name="re_user_pwd" placeholder="再次输入密码" required=""/>
						<label class="input__label input__label--jiro" for="input-12">
							<span class="input__label-content input__label-content--jiro">确认密码</span>
						</label>
					</span>
                    <input type="submit" class="submit_btn" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="footer"}
{include file="base/footer"}
{/block}
{block name="my-js"}
<script>
    $(function () {
        $("input[name='user_account']").keydown(function(){
            this.value = this.value.replace(/[^A-Za-z0-9]/i,'');
        });
        $('.submit_btn').click(function () {
            var user_name = $('input[name="user_account"]').val();
            var user_pwd = $('input[name="user_pwd"]').val();
            var re_user_pwd = $('input[name="re_user_pwd"]').val();
            var email = $('input[name="email"]').val();
            var parent = $('input[name="parent"]').val();

            if(user_name == ''){
                layer.msg('帐号不能为空',{time:1000});
                return false;
            }
            if(email == ''){
                layer.msg('邮箱不能为空',{time:1000});
                return false;
            }
            if(user_pwd != re_user_pwd){
                layer.msg('两次密码输入不一致',{time:1000});
                return false;
            }

            $.ajax({
                url : '/service/register/index',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    username : user_name,
                    userpwd : user_pwd,
                    email : email,
                    parent: parent
                },
                success : function(data){
                    var callingBack = '';
                    if(data.code == 1){
                        callingBack = function(){
                            location.href='/index/login';
                        };
                    }
                    layer.msg(data.msg,{time: 1000},callingBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>
{/block}