{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}

{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{:url('index/index')}">首页</a>
                        <span class="breadcrumb-item active">注册帐号</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <div class="login-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="user-login">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="section-title left-aligned with-border">
                                            <h2>register</h2>
                                        </div>
                                    </div>
                                </div> <!-- end of row -->

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                                        <div class="registration-form login-form mt-half">
                                            <form action="" class="registerForm" onsubmit="return false;">
                                                <div class="login-info mb-half">
                                                    <p>已经有帐号? <a href="{:url('index/login/index')}">点这里登录</a></p>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="f-name" class="col-12 col-sm-12 col-md-4 col-form-label">登录帐号</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="text" class="form-control" id="f-name" placeholder="不能少于8位">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">邮箱地址</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="email" class="form-control" id="email" placeholder="邮箱作为找回密码使用">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="newpassword" class="col-12 col-sm-12 col-md-4 col-form-label">密码</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="password" class="form-control" id="newpassword" placeholder="请牢记密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="c-password" class="col-12 col-sm-12 col-md-4 col-form-label">确认密码</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="password" class="form-control" id="c-password" placeholder="再次输入密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="birth" class="col-12 col-sm-12 col-md-4 col-form-label">推荐人ID</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="text" class="form-control" id="birth" placeholder="没有可不写">
                                                    </div>
                                                </div>
                                                <div class="register-box d-flex justify-content-end mt-half">
                                                    <button type="submit" class="default-btn tiny-btn submit_btn">注册</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file="base/footer"}
</div>

    <div id="to_top">
        <i class="ion ion-ios-arrow-forward"></i>
        <i class="ion ion-ios-arrow-forward"></i>
    </div>
</div>

{/block}

{block name="my-js"}
<script>
    $(function () {
        $("#f-name").keyup(function(){
            this.value=this.value.replace(/[^a-z0-9_]/g,'');
        });
        $("#birth").keyup(function(){
            $(this).val($(this).val().replace(/\D|^0/g,''));
        }).bind("paste",function(){
            $(this).val($(this).val().replace(/\D|^0/g,''));
        });

        $('.submit_btn').click(function () {
            var user_name = $('#f-name').val();
            var user_pwd = $('#newpassword').val();
            var re_user_pwd = $('#c-password').val();
            var email = $('#email').val();
            var parent = $('#birth').val();

            if(user_name == ''){
                layer.msg('帐号不能为空',{time:1000});
                return false;
            }
            if(user_name.length < 8){
                layer.msg('帐号不能少于8位',{time:1000});
                return false;
            }
            if(email == ''){
                layer.msg('邮箱不能为空',{time:1000});
                return false;
            }
            if(user_pwd != re_user_pwd){
                layer.msg('两次密码输入不一致',{time:1000});
                return false;
            }

            $.ajax({
                url : '/service/register/index',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    username : user_name,
                    userpwd : user_pwd,
                    email : email,
                    parent: parent
                },
                success : function(data){
                    var callingBack = '';
                    if(data.code == 1){
                        callingBack = function(){
                            location.href='/index/login';
                        };
                    }
                    layer.msg(data.msg,{time: 1000},callingBack);
                },
                error : function(data){
                    console.log(data);
                }
            });
            return false;
        });
    });
</script>
{/block}