{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}

{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="index.html">首页</a>
                        <span class="breadcrumb-item active">注册帐号</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <div class="login-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="user-login">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="section-title left-aligned with-border">
                                            <h2>register</h2>
                                        </div>
                                    </div>
                                </div> <!-- end of row -->

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                                        <div class="registration-form login-form mt-half">
                                            <form action="" class="registerForm" onsubmit="return false;">
                                                <div class="login-info mb-half">
                                                    <p>已经有帐号? <a href="{:url('index/login/index')}">点这里登录</a></p>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="f-name" class="col-12 col-sm-12 col-md-4 col-form-label">登录帐号</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="text" class="form-control" id="f-name" required="" placeholder="请牢记帐号">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">邮箱地址</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="email" class="form-control" id="email" required="" placeholder="邮箱作为找回密码使用">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="newpassword" class="col-12 col-sm-12 col-md-4 col-form-label">密码</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="password" class="form-control" id="newpassword" required="" placeholder="请牢记密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="c-password" class="col-12 col-sm-12 col-md-4 col-form-label">确认密码</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="password" class="form-control" id="c-password" required="" placeholder="再次输入密码">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="birth" class="col-12 col-sm-12 col-md-4 col-form-label">推荐人ID</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                                        <input type="number" class="form-control" id="birth" placeholder="没有可不写">
                                                    </div>
                                                </div>
                                                <div class="register-box d-flex justify-content-end mt-half">
                                                    <button type="submit" class="default-btn tiny-btn">注册</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file="base/footer"}
</div>

    <div id="to_top">
        <i class="ion ion-ios-arrow-forward"></i>
        <i class="ion ion-ios-arrow-forward"></i>
    </div>
</div>

{/block}

{block name="my-js"}
<script>
    $(function () {
        setInterval('autoAddRow("#synamicTbl")', 3000);
    });

    function autoAddRow(obj) {
        var randNum = Math.floor(Math.random() * 10);
        var randNum2 = Math.floor(Math.random() * 4);
        var randNum3 = Math.floor(Math.random() * 2);
        var account = '';
        if(randNum%2){
            account = getMoblieNum();
        }else{
            account = getRandomString(11);
        }

        var priceArr = ['88','128','188','268'];
        var choseArr = ['瑞雪','丰年'];
        var listr = '<tr>\n' +
            '<td>'+account+'</td>\n' +
            '<td>'+priceArr[randNum2]+'</td>\n' +
            '<td>'+choseArr[randNum3]+'</td>\n' +
            '</tr>'
        $(obj).children('tbody').prepend(listr);
        $(obj).find('tbody tr').each(function(index){
            if(index >5){
                $(this).remove();
            }
        });
    };

    function getMoblieNum(){
        var numArray = ["139","138","137","136","135","134","159","158","157","150","151","152","188","187","182","183","184","178","130","131","132","156","155","186","185","176","133","153","189","180","181","177"];
        var arraryLength = numArray.length;
        var i = parseInt( Math.random() * arraryLength);
        var phoneNum = numArray[i];

        for ( var j = 0; j < 8; j++){
            if(j >= 0 && j < 4){
                phoneNum += '*';
            }else{
                phoneNum = phoneNum + Math.floor(Math.random() * 10);
            }
        }
        return phoneNum;
    };

    function getRandomString(len) {
        len = len || 32;
        var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
        var maxPos = $chars.length;
        var randomStr = '';
        for (i = 0; i < len; i++) {
            if(i >4){
                randomStr += '*';
            }else{
                randomStr += $chars.charAt(Math.floor(Math.random() * maxPos));
            }
        }
        return randomStr.toLowerCase();
    };
</script>
{/block}