{extend name="base/base" /}

{block name="title"}开奖记录{/block}

{block name="header"}
{include file="base/header"}
{/block}

{block name="main"}

<div class="kj-zh">
    <div class="kj-zh-nei">
        <div class="kj-zh-nei1">
            <img src="/static/index/images/k6.png">
            <p>距离第<span>{$nowTermNum}</span>期结束：</p>
        </div>
        <div class="time-item">
            <strong id="minute_show">00分</strong>
            <strong id="second_show">00秒</strong>
        </div>
    </div>
</div>
<div class="kj-zh-nei zh-y">
    <div class="kj-zh-nei1">
        <img src="/static/index/images/k6.png">
        <p>距离第<span>{$nowTermNum}</span>期结束：</p>
    </div>
    <div class="time-item5">
        <strong id="minute_show5">00分</strong>
        <strong id="second_show5">00秒</strong>
    </div>
</div>
<div class="kj-xia">
    <div class="kj-xia-b">
        <p class="kj-p1">时时彩期号</p>
        <p class="kj-p2">开奖号码</p>
        <p class="kj-p3">获胜</p>
    </div>
    <ul>
        {volist name="award" id="vo"}
            <li>
                <p class="kj-p4">第{$vo.term_num}期</p>
                <p class="kj-p5">{$vo.result}</p>
                {if($vo.win == 1)}
                    <p class="kj-p7">丰年</p>
                {else /}
                    <p class="kj-p6">瑞雪</p>
                {/if}
            </li>
        {/volist}
    </ul>
</div>

<script src="/static/index/js/timeCount.js"></script>
{/block}

{block name="nav"}
{include file="base/nav"}
{/block}

{block name="script"}
<script>
    $(function () {
        $('.daohang ul li:eq(1)').addClass('active').siblings().removeClass('active');

        var h3_height = $(".kj-xia").offset().top;
        $(window).scroll(function(){
            var this_scrollTop = $(this).scrollTop();
            if(this_scrollTop-60 >= h3_height ){
                $(".zh-y").show();
            }else{
                $(".zh-y").hide();
            }
        });
    });
</script>
{/block}