{extend name="base/base" /}

{block name="title"}兑换列表{/block}

{block name="main"}
<div class="nav">
    <a class="weizhi go_back" href="javascript:;"> <img src="/static/index/images/zuo.png" alt=""></a>
    <p>兑换列表</p>
</div>
<div class="shop-group-item">
    <ul>
        <li>
            <div class="shop-info">
                <label>
                    <div class="shop-info1">
                        <img src="/static/index/images/touxiang.png">
                        <p>名字名字</p>
                        <p style="float: right;">兑换价格<span>¥400</span></p>
                    </div>
                    <input type="checkbox" class="check goods-check goodsCheck">
                </label>
            </div>
        </li>
        <li>
            <div class="shop-info">
                <label>
                    <div class="shop-info1">
                        <img src="/static/index/images/touxiang.png">
                        <p>名字名字</p>
                        <p style="float: right;">兑换价格<span>¥400</span></p>
                    </div>
                    <input type="checkbox" class="check goods-check goodsCheck">
                </label>
            </div>
        </li>
        <li>
            <div class="shop-info">
                <label>
                    <div class="shop-info1">
                        <img src="/static/index/images/touxiang.png">
                        <p>名字名字</p>
                        <p style="float: right;">兑换价格<span>¥400</span></p>
                    </div>
                    <input type="checkbox" class="check goods-check goodsCheck">
                </label>
            </div>
        </li>
        <li>
            <div class="shop-info">
                <label>
                    <div class="shop-info1">
                        <img src="/static/index/images/touxiang.png">
                        <p>名字名字</p>
                        <p style="float: right;">兑换价格<span>¥400</span></p>
                    </div>
                    <input type="checkbox" class="check goods-check goodsCheck">
                </label>
            </div>
        </li>
    </ul>
</div>
<div class="all-checkbox">
    <label>
        <input type="checkbox" class="check goods-check" id="AllCheck">
        <p>全选</p>
    </label>
</div>
<div class="dh-lb-s">
    <li>
        <a href="#">
            批量兑换
        </a>
    </li>
    <li>
        <a href="#">
            批量寄售
        </a>
    </li>
</div>
<script src="/static/index/js/common.js"></script>
{/block}

{block name="script"}

{/block}