{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="index.html">首页</a>
                        <span class="breadcrumb-item active">排行榜</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <!-- Start of Wishlist Wrapper -->
        <div class="wishlist-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="wishlist">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="section-title left-aligned with-border">
                                            <h2>日榜</h2>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <td>用户名</td>
                                                    <td>官方结果</td>
                                                    <td>开奖时间</td>
                                                    <td>获胜方</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="single-product.html">test</a>
                                                    </td>
                                                    <td>
                                                        <a href="single-product.html">Cas Meque Metus</a>
                                                    </td>
                                                    <td>3</td>
                                                    <td>
                                                        <div class="price">$430.00</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="single-product.html"><img src="assets/images/products/best/products-6-1.jpg" alt="Wishlist Product Image" title="Proin Lectus Ipsum"></a>
                                                    </td>
                                                    <td>
                                                        <a href="single-product.html">Proin Lectus Ipsum</a>
                                                    </td>
                                                    <td>3</td>
                                                    <td>
                                                        <div class="green">$440.00</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="single-product.html"><img src="assets/images/products/best/products-8-2.jpg" alt="Wishlist Product Image" title="Aliquam Consequat"></a>
                                                    </td>
                                                    <td>
                                                        <a href="single-product.html">Aliquam Consequat</a>
                                                    </td>
                                                    <td>3</td>
                                                    <td>
                                                        <div class="price">$200.00</div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {include file="base/footer"}
</div>
{/block}

{block name="my-js"}

{/block}