{extend name="base/base" /}

{block name="title"}消息{/block}

{block name="main"}
<div class="nav">
    <a class="weizhi go_back" href="javascript:;"><img src="/static/index/images/zuo.png" alt=""></a>
    <p>升级记录</p>
</div>
<div class="hj-z">
    <ul>
        {volist name="orderInfo" id="vo"}
            <li>
                <div class="hj-z1">
                    <p>
                        {if(!is_null($vo.win))}
                            第{$vo.term_num}期
                            {$vo.guessing === $vo.win ? '<span class="yanse3">大胜</span>' : '<span class="yanse2">惜败</span>'}
                        {else /}
                            <span>未开奖</span>
                        {/if}
                    </p>
                </div>
                <div class="hj-z2">
                    <div class="hj-z3">
                        <img src="{$vo.pic_url}">
                    </div>
                    <div class="hj-z4">
                        <h3>{$vo.name}</h3>
                        <p>选择：<span>{$vo.guessing == 0 ? '瑞雪' : '丰年'}</span></p>
                        <p>数量：<span>{$vo.goods_num}</span>件商品</p>
                    </div>
                </div>
                <div class="hj-z5">
                    <p>购买时间：<span>{:date('Y-m-d H:i:s',$vo.created_date)}</span></p>
                </div>
            </li>
        {/volist}
    </ul>
</div>
<script src="/static/index/js/common.js"></script>
{/block}

{block name="script"}

{/block}