{extend name="base/base" /}

{block name="title"}充值{/block}

{block name="main"}
<div class="nav">
    <a class="weizhi go_back" href="javascript:;"> <img src="/static/mapp/images/zuo.png" alt=""></a>
    <p>充值</p>
</div>
<div class="shang">
    <p>请选择您要充值的金额</p>
</div>
<div class="zhong1">
    <ul>
        <li value="10">10</li>
        <li value="30">30</li>
        <li value="50">50</li>
        <li value="100">100</li>
        <li value="200">200</li>
        <li value="500">500</li>
        <li value="1000">1000</li>
        <li>
            <input type="text" name="otherAmount" placeholder="其他金额">
        </li>
    </ul>
    <input type="hidden" value="" id="moneyAmount">
</div>
<div class="important_hints">
    <p>&nbsp;&nbsp;支付时必须填写备注，格式为用户名+金额，避免出现不必要的错误。</p>
</div>
<div class="shang">
    <p>请选择付款方式</p>
</div>
<div class="zhong2">
    <ul>
        <li>
            <i class="iconfont icon-weixinzhifu"></i>
        </li>
        <li>
            <i class="iconfont icon-zhifubao"></i>
        </li>
    </ul>
    <input type="hidden" value="" id="payWay">
</div>
<div class="tijiao">
    <span>充值</span>
</div>

<div id="wxzf" class="hidden">
    <img src="/static/mapp/images/weixin.png" alt="" style="width: 100%">
</div>
<div id="alipay" class="hidden">
    <img src="/static/mapp/images/zhifubao.jpg" alt="" style="width: 100%">
</div>

<script src="/static/mapp/js/common.js"></script>
{/block}

{block name="script"}
<script>
    $(function () {
        $(".zhong1 ul li").click(function(){
            $(this).css({'background-color':'#07cda5','color':'#fff','border':'none'}).siblings().css({'background-color':'#fff','color':'#8a8787','border':'1px solid #cdcdcd'});
            if($(this).children('input').length == 0){
                $('#moneyAmount').val($(this).html());
            }
        });

        $(".zhong2 ul li").click(function(){
            $(this).css({'color':'#fff','border':'1px solid #cdcdcd'}).siblings().css({'border':'none'});
            var index = $(".zhong2 ul li").index(this);
            $('#payWay').val(index);
        });

        $('input[name="otherAmount"]').change(function () {
            $('#moneyAmount').val($(this).val());
        });

        $('.tijiao').on('click',function () {
            var moeny_amount = $('#moneyAmount').val();
            var pay_way = $('#payWay').val();
            var title = '';
            if(moeny_amount == ''){
                layer.msg('请选择充值金额',{time:1500});
                return false;
            }
            if(pay_way == ''){
                layer.msg('请选择充值方式',{time:1500});
                return false;
            }

            if(pay_way == 0){
                title = '微信支付';
                var content = $('#wxzf');
            }else if(pay_way == 1){
                title = '支付宝支付';
                var content = $('#alipay');
            }
            $.ajax({
                url : 'createRecharge',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    moeny_amount : moeny_amount,
                    pay_way : pay_way
                },
                success : function(data){
                    if(data.code == 0){
                        layer.open({
                            type: 1,
                            title: title,
                            content: content
                        });
                    }else if(data.code == 1){
                        layer.msg(data.msg,{time: 1000});
                    }
                },
                error : function(data){
                    console.log(data);
                }
            });
        });
    });
</script>
{/block}