{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="header"}
{include file="base/nav"}
{/block}

{block name="main"}
<div class="typo">
    <div class="container">
        <h4 class="agileits_w3layouts_sub">金丰年</h4>
        <h3 class="w3_agileits_head w3_agileits_head1">抢购动态</h3>

        <h2>&nbsp;</h2>
        <p>展示每期开奖结果</p>
        <div class="bs-docs-example">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>升级期号</th>
                    <th>开奖结果</th>
                    <th>开奖时间</th>
                    <th>获胜方</th>
                </tr>
                </thead>
                <tbody>
                {volist name="awardInfo" id="vo"}
                <tr>
                    <td>{$vo.term_num}</td>
                    <td>{$vo.result}</td>
                    <td>{$vo.updated_date}</td>
                    <td>{$vo.win}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}

{block name="footer"}
{include file="base/footer"}
{/block}

{block name="my-js"}

{/block}