{extend name="base/base" /}

{block name="title"}提现{/block}

{block name="main"}
<div class="nav">
    <a class="weizhi go_back" href="javascript:;"> <img src="/static/index/images/zuo.png" alt=""></a>
    <div class="zhongzi">
        提现
    </div>
    <a class="shoucang" href="{:url('index/extract/record')}">提现记录</a>
</div>
<div class="tx-t">
    <h3>可用金额(元)</h3>
    <p>￥<span>{$money ? $money : 0}</span></p>
</div>
<div class="tixian1">
    <form>
        <div class="tixian2">
            <input type="text" name="extract_num" placeholder="请输入提现金额">
        </div>
    </form>
    <div class="tijiao">
        <span>提现</span>
    </div>
</div>
<div class="yhk">
    <a href="{:url('index/user/alipay')}">修改支付宝信息</a>
</div>

<script src="/static/index/js/common.js"></script>
{/block}

{block name="script"}
<script>
    $(function () {
        $('.tijiao').click(function () {
            var ext_money = parseInt($('input[name="extract_num"]').val());
            var money_num = parseInt($('.tx-t span').text());
            switch (ext_money){
                case '':
                    layer.msg('请填写提现金额',{time:1500});
                    return false;
                case 0:
                    layer.msg('提现金额不能为0',{time:1500});
                    return false;
                default:
                    if(!Number.isInteger(ext_money)){
                        layer.msg('提现金额必须为整数',{time:1500});
                        return false;
                    }
            }
            if(ext_money > money_num){
                layer.msg('提现金额过大',{time:1500});
                return false;
            }

            $.ajax({
                url : 'doMoneyExtract',
                type : "POST",
                dataType : "json",
                cache : false,
                data : {
                    ext_money : ext_money
                },
                success : function(data){
                    var callingBack = '';
                    if(data.status == 1){
                        callingBack = function(){
                            location.href='/index/user';
                        };
                    }
                    layer.msg(data.msg,{time: 1500},callingBack);
                },
                error : function(data){
                    console.log(data);
                }
            });

        });
    });
</script>
{/block}