{extend name="base/base" /}

{block name="title"}提现记录{/block}

{block name="main"}
<div class="nav">
    <a class="weizhi go_back" href="javascript:;"> <img src="/static/index/images/zuo.png" alt=""></a>
    <div class="zhongzi">
        提现记录
    </div>
    <a class="shoucang" href="{:url('index/extract/index')}">我要提现</a>
</div>
<div class="tx-jl">
    <ul>
        {volist name="amount_record" id="vo"}
            <li>
                <p>{:date('Y-m-d H:s',$vo.created_date)}<span>{$vo.amount}</span></p>
            </li>
        {/volist}
    </ul>
</div>

<script src="/static/index/js/common.js"></script>
{/block}

{block name="script"}

{/block}