{extend name="base/base" /}

{block name="title"}金丰年{/block}

{block name="main"}
<div id="whole" class="whole-site-wrapper color-scheme-three">
    {include file="base/header"}

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{:url('index/index')}">首页</a>
                        <span class="breadcrumb-item active">个人中心</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="main-content-wrapper">

        <!-- Start of My Account Wrapper -->
        <div class="my-account-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="user-dashboard">
                                <div class="user-info">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                            <div class="single-info ">
                                                <p class="user-name">
                                                    你好, <span class="text-muted">{$userInfo.account}</span>
                                                    <br>
                                                    职称：<span class="text-muted">{$userInfo.role_name}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
                                            <div class="single-info">
                                                <input type="hidden" id="userMoney" value="{$userInfo.money}">
                                                <input type="hidden" id="userGold" value="{$userInfo.gold}">
                                                <p><i class="fa fa-jpy" aria-hidden="true"></i>&nbsp;余额： <span class="text-primary"><strong>{$userInfo.money}</strong></span> 元
                                                    <br>
                                                    <i class="fa fa-btc" aria-hidden="true"></i>&nbsp;金币 ： <span class="text-primary"><strong>{$userInfo.gold}</strong></span> 个
                                                </p>
                                            </div>

                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                            <div class="single-info">
                                                <p>
                                                    <i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;
                                                    微信：
                                                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                    <br>
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;
                                                    支付宝：
                                                    {if(empty($alipayAccount))}
                                                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                    {else /}
                                                    <span class="text-muted">{$alipayAccount}</span>
                                                    {/if}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="single-info ">
                                                <p>
                                                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                                                    手机：
                                                    {if(empty($userInfo.tel))}
                                                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                    {else /}
                                                    <span class="text-muted">{$userInfo.tel}</span>
                                                    {/if}
                                                    <br>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                                                    邮箱：
                                                    {if(empty($userInfo.email))}
                                                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                    {else /}
                                                    <span class="text-muted">{$userInfo.email}</span>
                                                    {/if}
                                                </p>
                                            </div>
                                        </div>
                                    </div> <!-- end of row -->
                                </div> <!-- end of user-info -->

                                <div class="main-dashboard">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                                            <ul class="nav flex-column dashboard-list" role="tablist">
                                                <li><a class="nav-link active" data-toggle="tab" href="#recharge">充值</a></li>
                                                <li><a class="nav-link" data-toggle="tab" href="#extract">提现</a></li>
                                                <li> <a class="nav-link" data-toggle="tab" href="#orders">订单</a></li>
                                                <li><a class="nav-link" data-toggle="tab" href="#account-details">帐号信息</a></li>
                                            </ul> <!-- end of dashboard-list -->
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                            <!-- Tab panes -->
                                            <div class="tab-content dashboard-content">
                                                <div id="recharge" class="tab-pane fade show active">
                                                    <h3>支付宝/微信 </h3>
                                                    <a href="{:url('/index/recharge/record')}" class="pull-right">充值记录</a>
                                                    <div class="clearfix"></div>

                                                    <div class="row">
                                                        <div class="form-group col-12 col-sm-12 col-md-6">
                                                            <label for="recharge_money">充值金额 <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="recharge_money">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group col-12 col-sm-12 col-md-12">
                                                            <label>充值方式 <span class="text-danger">*</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="row rechargeWay">
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <span data-val="1"><img src="/static/index/images/zhifubao.png" alt="">支付宝支付</span>
                                                        </div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <span data-val="2"><img src="/static/index/images/weixin.png" alt="">微信支付</span>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-outline-info btn-lg pull-right">充值</button>
                                                    <div class="clearfix"> </div>
                                                </div>

                                                <div id="extract" class="tab-pane fade">
                                                    <h3>余额/金币提现</h3>
                                                    <a href="{:url('/index/extract/record/1')}" class="pull-right">提现记录</a>
                                                    <div class="clearfix"></div>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                                                            <div class="login-form mt-half">
                                                                <form action="" onsubmit="return false;" class="moneyForm">
                                                                    <div class="form-group row align-items-center mb-4">
                                                                        <label class="col-12 col-sm-12 col-md-3 col-form-label">可用余额：</label>
                                                                        <div class="col-12 col-sm-12 col-md-8">
                                                                            <p> <strong><i class="fa fa-jpy" aria-hidden="true"></i>&nbsp;<span class="text-primary" style="font-size: 2rem">{$userInfo.money}</span> 元</strong></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row align-items-center mb-4">
                                                                        <label for="ext_money" class="col-12 col-sm-12 col-md-3 col-form-label">金额：</label>
                                                                        <div class="col-12 col-sm-12 col-md-8">
                                                                            <input type="text" class="form-control" id="ext_money" placeholder="请输入提现金额">
                                                                        </div>
                                                                    </div>
                                                                    <div class="login-box mt-5 text-center">
                                                                        <button type="submit" class="btn btn-outline-primary mt-4 submitMoney">余额提现</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr style="margin-top: 2.5rem">

                                                    <a href="{:url('/index/extract/record/2')}" class="pull-right">提现记录</a>
                                                    <div class="clearfix"></div>
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                                                            <div class="login-form mt-half">
                                                                <form action="" onsubmit="return false;" class="goldForm">
                                                                    <div class="form-group row align-items-center mb-4">
                                                                        <label class="col-12 col-sm-12 col-md-3 col-form-label">可用金币：</label>
                                                                        <div class="col-12 col-sm-12 col-md-8">
                                                                            <p> <strong><i class="fa fa-btc" aria-hidden="true"></i>&nbsp;<span class="text-primary" style="font-size: 2rem">{$userInfo.gold}</span>个</strong></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row align-items-center mb-4">
                                                                        <label for="ext_gold" class="col-12 col-sm-12 col-md-3 col-form-label">数量：</label>
                                                                        <div class="col-12 col-sm-12 col-md-8">
                                                                            <input type="text" class="form-control" id="ext_gold" placeholder="请输入提现金币个数" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="login-box mt-5 text-center">
                                                                        <button type="submit" class="btn btn-outline-primary mt-4 submitGold">金币提现</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="orders" class="tab-pane fade">
                                                    <h3>订单</h3>
                                                    <a href="{:url('/index/order/record')}" class="pull-right">更多 & 操作</a>
                                                    <div class="clearfix"></div>

                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>编号</th>
                                                                <th>名称</th>
                                                                <th>数量</th>
                                                                <th>金额</th>
                                                                <th>升级选择</th>
                                                                <th>状态</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {volist name="orderInfo" id="vo"}
                                                            <tr>
                                                                <td>{$vo.id}</td>
                                                                <td>{$vo.goods_name}</td>
                                                                <td>{$vo.goods_num}</td>
                                                                <td><i class="fa fa-jpy" style="color: red" aria-hidden="true"></i>&nbsp;&nbsp;{$vo.amount}</td>
                                                                <td>{$vo.guessing ? '丰年' : '瑞雪'}</td>
                                                                <td>
                                                                    {if(is_null($vo.win))}
                                                                    <p>未开奖</p>
                                                                    {elseif($vo.guessing === $vo.win)}
                                                                    <p class="text-primary">大胜</p>
                                                                    {else /}
                                                                    <p class="text-danger">惜败</p>
                                                                    {/if}
                                                                </td>
                                                            </tr>
                                                            {/volist}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div id="account-details" class="tab-pane fade">
                                                    <h3>账户信息 </h3>
                                                    <div class="login-form">
                                                        <form action="" onsubmit="return false;" class="userForm">
                                                            <div class="form-group row align-items-center">
                                                                <label class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">推荐人ID</label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <div class="form-row">
                                                                        <p class="form-control-plaintext">{$userInfo.parent_id}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="phone" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">手机号<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="phone" value="{$userInfo.tel ? $userInfo.tel : ''}" placeholder="请输入手机号">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="email" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">邮箱地址<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="email" value="{$userInfo.email}">
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="form-group row">
                                                                <label for="alipayAccount" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">收款账号<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="alipayAccount" placeholder="填写支付宝帐号" value="{$userInfo.alipay_account}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="alipayName" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">收款人姓名<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="alipayName" placeholder="填写支付宝姓名" value="{$userInfo.alipay_name}">
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="form-group row">
                                                                <label for="expressName" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">收货人姓名<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="expressName" placeholder="快递接收人姓名" value="{$userInfo.express_name}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="expressPhone" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">收货人手机号<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="expressPhone" placeholder="快递接收人手机号" value="{$userInfo.phone}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="expressAddress" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">详细地址<span class="text-danger">*</span></label>
                                                                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                    <input type="text" class="form-control" id="expressAddress" placeholder="请填写快递详细地址" value="{$userInfo.details}">
                                                                </div>
                                                            </div>

                                                            <div class="register-box d-flex justify-content-end mt-half">
                                                                <button type="submit" class="btn btn-secondary userBtn">保存信息</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {include file="base/footer"}
</div>
{/block}

{block name="my-js"}
<script>
$(function () {
    $('.rechargeWay div').click(function () {
        $(this).addClass('active').siblings('div').removeClass('active');
    });

    //余额提现
    $('.submitMoney').click(function () {
        let money = $('#ext_money').val();
        let userMoney = parseInt($('#userMoney').val());
        if(money === ''){
            layer.msg('请输入提现金额。',{time:1000});
            return false;
        }
        let errorNum = textChecked(money);
        if(errorNum > 0){
            layer.msg('请输入正确的提现金额',{time:1000});
            return false;
        }

        money = parseInt(money);
        if(money > userMoney){
            layer.msg('金额不足，请重试',{time:1000});
            return false;
        }

        layer.load(0, {
            shade: [0.1,'#fff']
        });
        $.ajax({
            url : '/index/extract/doMoneyExtract',
            type : "POST",
            dataType : "json",
            cache : false,
            data : {
                ext_money : money
            },
            success : function(data){
                console.log(data);
                var callingBack = '';
                if(data.code == 1){
                    callingBack = function(){
                        window.location.reload();
                    };
                }
                layer.closeAll('loading');
                layer.msg(data.msg,{time: 1500},callingBack);
            },
            error : function(data){
                console.log(data);
            }
        });

    });
    
    //金币提现
    $('.submitGold').click(function () {
        let gold = $('#ext_gold').val();
        let userGold = parseInt($('#userGold').val());
        if(gold === ''){
            layer.msg('请输入金币数量',{time:1000});
            return false;
        }
        let errorNum = textChecked(gold);
        if(errorNum > 0){
            layer.msg('请输入正确的金币数量',{time:1000});
            return false;
        }

        gold = parseInt(gold);
        if(gold > userGold){
            layer.msg('金币不足，请重试',{time:1000});
            return false;
        }

        layer.load(0, {
            shade: [0.1,'#fff']
        });
        $.ajax({
            url : '/index/extract/doGoldExtract',
            type : "POST",
            dataType : "json",
            cache : false,
            data : {
                ext_gold : gold
            },
            success : function(data){
                console.log(data);
                var callingBack = '';
                if(data.code == 1){
                    callingBack = function(){
                        window.location.reload();
                    };
                }
                layer.closeAll('loading');
                layer.msg(data.msg,{time: 1500},callingBack);
            },
            error : function(data){
                console.log(data);
            }
        });
    });
    
    //保存用户信息
    $('.userBtn').click(function () {
        console.log();
        let tel = $('#phone').val();
        let pattern = /^1[34578]\d{9}$/;
        if(!pattern.test(tel)){
            layer.msg('请填写正确的手机号',{time:1000});
            return false;
        }
        let email = $('#email').val();
        if(email.length == 0 || email.indexOf('@') < 0){
            layer.msg('请填写正确的邮箱',{time:1000});
            return false;
        }
        let alipayAccount = $('#alipayAccount').val();
        let alipayName = $('#alipayName').val();
        let expressName = $('#expressName').val();
        let expressPhone = $('#expressPhone').val();
        let expressAddress = $('#expressAddress').val();

        if(alipayAccount.length == 0 || alipayName == 0){
            layer.msg('请填写支付宝收款信息',{time:1000});
            return false;
        }
        if(expressName.length == 0 || expressAddress == 0){
            layer.msg('请填写收货人信息',{time:1000});
            return false;
        }
        if(!pattern.test(expressPhone)){
            layer.msg('请填写正确的收货人手机号',{time:1000});
            return false;
        }

        layer.load(0, {
            shade: [0.1,'#fff']
        });
        $.ajax({
            url : 'saveUserInfo',
            type : "POST",
            dataType : "json",
            cache : false,
            data : {
                tel : tel,
                email : email,
                alipayAccount : alipayAccount,
                alipayName : alipayName,
                expressName : expressName,
                expressPhone : expressPhone,
                expressAddress : expressAddress
            },
            success : function(data){
                console.log(data);
                var callingBack = '';
                if(data.code == 1){
                    callingBack = function(){
                        window.location.reload();
                    };
                }
                layer.closeAll('loading');
                layer.msg(data.msg,{time: 1500},callingBack);
            },
            error : function(data){
                console.log(data);
            }
        });
    });
});
</script>
{/block}